[2018-01-02 21:19] coollittlestoaster opened #1 "Install this plugin?"
Forgive the dumb question, but how do I install this plugin locally since it is not in npm? Thanks

[2018-01-03 03:26] kuestess commented on #1
You can clone the repo or download and unzip, then cd into the directory where you unzipped/cloned and run 'npm -g install' (without the quotes; you may need to add sudo to that command depending upon your installation).  This version only supports a single device, but I should have an updated version that supports multiple devices soon.

[2018-01-03 19:42] coollittlestoaster commented on #1
I knew it was that simple! Thanks so much for the quick reply and help. Right now, I am just trying to get my I/O Linc connected through my hub, so single device should work just fine. I installed it and added my config file, but I am now getting this error:
[code]
Am I missing a sync-request plugin or something like that, do you happen to know? Thanks again for your help!

[2018-01-04 01:39] kuestess commented on #1
Sorry, I messed up the package.json.  Run 'npm -g install sync-request' and that should fix it.  Btw, this is really designed for lighting/dimmers, but you should be able to trigger the relay on the IOlinc with an open/close.  Sensor status might take a bit more work.

[2018-01-05 01:12] coollittlestoaster commented on #1
Awesome, thanks so much

[2018-01-24 04:58] logname opened #2 "Callback error"
I'm able to get a light (Insteon Micro Dimmer) to publish in the Home app, but the moment I tap it to adjust its state, I receive the following error and homebridge exits.

Error setting level for Overhead Light

/usr/local/lib/node_modules/homebridge-platform-insteonlocal/index.js:362
			callback(error, null);
   ^
Error: This callback function has already been called by someone else; it can only

[2018-01-25 00:59] kuestess commented on #2
@logname Do you have any other devices configured and working with the plugin?  The fact that you got an error in response back from the Hub might mean that you have a problem with your configuration.  Not out of the question that I may have too many callbacks :-) but if we can check your config that might get you going while I can look into the callbacks more.  I just tested with one of my micro

[2018-01-25 04:38] logname commented on #2
Same error if I configure a plugin module:

"platforms": [
   {
      "platform": "InsteonLocal",
      "name": "Insteon Local Platform",
      "user": "<obscured>",
      "pass": "<obscured>",
      "host": "192.168.1.24",
      "port": "25105",
      "model": "2245",
      "refresh":"300",
      "server_port": "3000",
      "devices": [
            { "name": "Table Lamp",
              "deviceID

[2018-01-25 04:44] logname commented on #2
But a different error if I configure a 2477S ON/OFF Wall switch. Am I missing a prerequisite?

Error setting power for Kitchen Light

/usr/local/lib/node_modules/homebridge-platform-insteonlocal/index.js:303
			if (response.statusCode == 200) {
               ^
TypeError: Cannot read property 'statusCode' of undefined
    at Request._callback (/usr/local/lib/node_modules/homebridge-platform-insteo

[2018-01-26 01:10] kuestess commented on #2
So it looks like you're having a problem connecting to the Hub.  When you start up homebridge,  do you get the 'Connected to Insteon Hub.  Server listening on port....' and 'Insteon event listener started' messages?  One thing to try is to start homebridge and then try to turn on/off the device using the Express server.  You can try:

 `http://[IP of host running homebridge]:[server_port]/light/[i

[2018-01-26 06:25] logname commented on #2
Got it working. Changed password, but same issue. Tried changing server port and the error stopped, but still didn't get "Connected to Insteon Hub.  Server listening on port xxxx". Changed password back and it still didn't connect. Changed server port back to 3000 and it worked. Thanks so much for your help and the plugin. It's badass!

[2018-01-26 14:56] logname commented on #2
Issue resolved

[2018-01-26 14:56] #2 closed

[2018-01-26 16:42] kuestess commented on #2
Glad you got it working!  I think that the latest Hub firmware update has created alot of issues with connections.  I had everything working fine and then it stopped after the latest update.  Had to go through those same gymnastics with password/port/etc to get it to connect.  Enjoy!

[2018-02-18 06:30] eytanschulman opened #3 "Changing the status of a light"
Hello!

I am having an issue in which when I tap on the light to turn it on, this error gets thrown, and homebridge crashes.

[code]
Here is my config.json file:

[code]

(Anything with XXXX was a value, replaced with XXXXX)

[2018-02-18 16:58] kuestess commented on #3
@eytanschulman Sorry, I've got some issues with error handling that I need to fix as it shouldn't completely crash homebridge.  For your error above, I think its a connection issue to your Hub.  Try running homebridge and open 'http://<raspberrypi ip address>:3000/links' and see if you get a response.  If not, go into the Insteon app and try changing the Hub password.  I've found that the latest f

[2018-02-23 21:52] eytanschulman commented on #3
@kuestess Thanks, I am now away from the Homebridge that I am working to configure with your plugin, but have SSH access and am working on it remotely (with people at the place with the bridge.) I had the password changed, and with the new password I am getting connection refused on curl to localhost:3000/links , as well as "Connection refused" inside a CLI browser.

Separately, how would I go abo

[2018-02-24 03:28] kuestess commented on #3
@eytanschulman You should be able to update to the latest release by cd-ing into the cloned directory and typing `git pull`.  Sounds like you are still having connection issues.  In my previous reply, I assumed that you were using port 3000 (the default Express server port) - double check that in your config.json and also make sure that you don't have any other services running on that same port.

[2018-02-24 16:06] eytanschulman commented on #3
@kuestess Thanks for the quick reply.

I just tried changing the port to something else, 3246, to no avail. When I try to curl http://localhost:3246/links , I get connection refused.

If it is any help, here are the first things that get printed when I launch Homebridge.

[code]

[2018-02-24 16:19] kuestess commented on #3
@eytanschulman Seems like its still not connecting to your Hub.  Do you ever get the 'Connected to Insteon Hub.  Server listening on port...' listed in the terminal when you launch homebridge?  You shouldn't be getting connection refused if you curl the link above.  Can you post your config.json?

[2018-02-24 16:40] eytanschulman commented on #3
Connected to Insteon Hub or Server listening on port does not get listed. Are there any logs somewhere hidden I could see? Here's my config json. Will verify with my friend again as to if the host and port are still the same..

[code]

[2018-02-24 16:58] kuestess commented on #3
@eytanschulman In your devices, remove the . in the deviceID (so there are no separators).  I don't *think* that would cause connection issues....but it will eventually keep the plugin from working.  Everything else looks fine - make sure to open the Insteon Hub app on your phone and go to Settings->House and verify that the local IP and port match.  I think you've changed the Hub password, but yo

[2018-02-24 17:12] eytanschulman commented on #3
Just checked, IP and Port match. Is it the hub user/pass what is supposed to be in the config under user/pass?

[2018-02-24 19:14] eytanschulman commented on #3
Got it set up and working with the proper user/pass, sorry for the troubles :-). A small suggestion: Change "username from Insteon app" and "password from Insteon app" to "username for the Insteon hub" and "password from Insteon hub"

Cheers!

[2018-02-24 19:14] #3 closed

[2018-02-24 20:00] kuestess commented on #3
@eytanschulman Glad you got it to work.  Updated the readme to clarify which user/pass.

[2018-04-21 16:26] bljarisch opened #4 "not found npm"
Getting this when trying to install

npm ERR! 404 Not Found: homebridge-platform-insteonlocal@latest

[2018-04-21 16:38] kuestess commented on #4
I haven't (yet) published to npm.  In the meantime, to install you can either download or clone the repository, cd into the cloned directory and then type 'npm -g install'.  Working on getting this published to npm to make it easier.

[2018-04-21 16:50] bljarisch commented on #4
Sorry I wrote that before I saw the other thread.  I cannot figure out how to do this.  I am running Homebridge in docker on a Synology NAS.  Any help would be appreciated.

[2018-04-21 16:54] kuestess commented on #4
Should now be published to npm.  Try `npm -g install homebridge-platform-insteonlocal`.  Should work now.

[2018-04-21 17:34] bljarisch commented on #4
That worked.  Thanks!

[2018-04-21 17:46] bljarisch commented on #4
Crashes here:

[2018-4-21 17:43:53] [Insteon Local Platform] Insteon event listener started

/homebridge/node_modules/homebridge-platform-insteonlocal/index.js:198
            if(use_express){
            ^
ReferenceError: use_express is not defined
    at Socket.<anonymous> (/homebridge/node_modules/homebridge-platform-insteonlocal/index.js:198:13)
    at Object.onceWrapper (events.js:313:30)

[2018-04-22 01:37] kuestess commented on #4
So I'm not sure how that one didn't come up in my testing :-), but I've just uploaded a fix that should address that error.

[2018-04-22 02:02] bljarisch commented on #4
Awesome everything is working now!  Thank you so much for your help and your hard work on this!

[2018-04-22 05:30] bljarisch commented on #4
The only issue I have now is scenes are not dimmable.

[2018-04-22 12:52] kuestess commented on #4
Scene dimming isn't currently supported, per the readme.

[2018-04-22 13:11] bljarisch commented on #4
Ah sorry, didn’t see that part.  Thanks.

[2018-04-22 21:15] awaspaas opened #5 "Insteon scenes and keypadlinc"
Hello and thank you for your development of this! I have a keypadlinc that has been left out of all of this so far, but I was encouraged by insteon scene support which I thought could have been a solution here. The KPL buttons trigger an Insteon scene that turns a device on (this is how device status stays in sync with the KPL button LED). When I added the insteon scene to homebridge, it properly

[2018-04-24 00:04] kuestess commented on #5
@awaspaas Glad its working for you!  I've been trying to figure out a better way to do this since I started writing the plugin.  The current plugin *should* update the status of target devices for a scene, as the event listener will see the ack from each device once a scene is triggered and update status accordingly.  This is usually within a few minutes, but could be different depending upon the

[2018-04-25 03:01] awaspaas commented on #5
I will remove and re-add and see if the event listener will pick up changes from the keypad because homebridge is not seeing them at all now. Getting scene status from a keypad button would about be the holy grail - count that as a vote for that feature!

[2018-05-07 01:59] kuestess commented on #5
@awaspaas I've got a working update for the plugin that should provide scene status based upon a keypadlinc button.  I need to do a little more testing but should have something ready later this week.

[2018-05-07 02:00] kuestess commented on #4
Closing as plugin now available in npm.

[2018-05-07 02:00] #4 closed

[2018-05-08 01:33] kuestess commented on #5
@awaspaas Try version 0.3.2 - take a look at the readme as configuration for scenes has changed.

[2018-05-08 02:29] slack8182 opened #6 "Insteon fanlinc support"
Hi. Thanks for the work on this plugin. Is there any way to get an insteon fanlinc to show up? My insteon pro hub blew up so now I'm forced to use homebridge. But the fanlinc was compatible with homekit because I connected it before. It would show up as two controllers one as a fan and one as a dimmable light. If it's not possible would you be willing to try and add it? I'll be happy to test it if

[2018-05-10 02:33] slack8182 commented on #6
Thanks so much!! I'll be happy to do it

[2018-05-13 21:23] MajdiElSadek opened #7 "Insteon Scenes"
Hello,

I just added scenes as described in readme for 0.3.2. But the scenes are appearing as devices in the home app. The scenes work as expected with App but makes it little tricky when activating through Siri since she doesn't recognize them as scans.

would appreciate your help. Thanks.
[config.json.txt](https://github.com/kuestess/homebridge-platform-insteonlocal/files/1998946/config.json.txt

[2018-05-14 16:38] kuestess commented on #7
@MajdiElSadek What you describe above is the intended result - the plugin will import your Insteon scenes as devices.  To my knowledge, it isn't currently possible to create scenes via homebridge.  As a workaround, you could create a scene in the Home app and add the scene device to it.  I don't personally use homekit scenes with Siri, but I think that should work.

[2018-05-16 23:17] kuestess commented on #6
@slack8182 Release 0.3.3 should support fanlinc devices.  Appreciate any testing and feedback you have!

[2018-05-17 03:06] slack8182 commented on #6
Thanks for your help!! I'll try it out and let you know

[2018-05-17 03:30] slack8182 commented on #6
I double checked my settings and here is the error I'm getting. One question "Do I need to omit the dimmable part"

May 16 20:27:33 raspberrypi homebridge[12826]: [2018-5-16 23:27:33] [Insteon Local Platform] Initializing InsteonLocal platform...
May 16 20:27:33 raspberrypi homebridge[12826]: Found 1 devices in config
May 16 20:27:33 raspberrypi homebridge[12826]: [2018-5-16 23:27:33] [Insteon Loc

[2018-05-17 11:28] kuestess commented on #6
@slack8182 Well that failed quite spectacularly!  It was a typo on my part - I've pushed a fix.  Try updating from npm and run again.

[2018-05-17 20:39] slack8182 commented on #6
Ok so I tested the plugin again and here is the error message I received

Found 1 devices in config
[2018-5-17 16:13:36] [Insteon Local Platform] Initializing platform accessory 'fan'...

/usr/local/lib/node_modules/homebridge-platform-insteonlocal/index.js:994
                self.light.fan.on('turnOn', function(group, level){
                 ^
TypeError: self.light.fan.on is not a function

[2018-05-17 22:01] kuestess commented on #6
@slack8182 Thanks for testing!  I've fixed the above and updated the code so that you should now have a slider to change fan speed.  Just reinstall via npm.

[2018-05-19 02:29] slack8182 commented on #6
I now have a slider and it is working!! The issue is that its not updating to the correct status or speed of the fan. Do I need to add dimmable "yes" to my config perhaps?

[2018-05-19 06:55] Kung-Foo-Kamel opened #8 "Slowing to a Halt"
Hi,

This plugin appears to have the same issue as the Home Assistant Insteon Local plugin.

As you add more devices, the slower it goes, and if you try to turn on and off more than 2 lights one after the other, it slows right down and can either take minutes to activate a light or not at all.

I have tried several platforms, win10, win7, Debian, Mint, same result on them all.

Its shame as this w

[2018-05-19 13:54] kuestess commented on #6
@slack8182 Can you update the plugin and run homebridge in debug mode `homebridge -D` and paste in the output when you change the fan speed?

[2018-05-19 17:26] slack8182 commented on #6
[2018-5-19 13:26:06] [Insteon Local Platform] Status: { command:
   { cmd1: '11',
     cmd2: 'BF',
     userData: [ '02' ],
     extended: true,
     isStandardResponse: true,
     type: '62',
     checksum: 46,
     raw: '02623F8BE41F11BF020000000000000000000000002E',
     id: '3F8BE4' },
  deferred:
   defer {
     promise: { state: 'fulfilled', value: [Circular] },
     resolve: [Function],

[2018-05-19 18:44] kuestess commented on #6
@slack8182 Thanks for the debug output.  I've made a few changes and uploaded a new version that I _think_ should fix the issue.  Just reinstall via npm.

[2018-05-21 16:52] kuestess commented on #5
Let me see if I can get 6 button support working.  May need your help testing as I don't have a 6 button keypad (or one confugred as such).

[2018-05-28 20:18] logname commented on #8
Did you disable express server?
"use_express": "no",

[2018-05-28 20:37] Kung-Foo-Kamel commented on #8
{
            "platform": "InsteonLocal",
            "name": "Insteon Local Platform",
            "user": "",
            "pass": "",
            "host": "192.168.0.165",
            "port": "25105",
            "model": "2242",
            "use_express": "false",
            "refresh": "300",
            "server_port": "3000",
            "devices": [
                {
                    "name

[2018-05-29 05:09] logname commented on #8
Hmm, I see that Kevin wrote "true or false" in the readme, but I haven't see any parameter values previously for the plugin that used those values. It's always been "yes" or "no". I actually didn't even read that as true or false the first time, and I just entered "no" by force of habit. Maybe both are valid, but maybe not? Try "no" instead of "false" perhaps?

I have less than 20 Insteon devices

[2018-05-29 05:27] logname commented on #8
Was just about to close my laptop and noticed two anomalies in your config.json example

1. There should not be any spaces or dividers in the "deviceID" - Should just be "deviceID": "2712F8",
2. You have "dimmable": "yes" and "deviceType": "switch" - dimmable is not valid for switches, so "dimmable" should be removed. If the device is dimmable, use

"dimmable": "yes",
"deviceType": "lightbulb"

[2018-05-29 16:00] #7 closed

[2018-05-29 16:32] kuestess commented on #8
@Kung-Foo-Kamel I have ~30 devices and my hub is still fairly responsive.  A couple things to try... first as @logname noted, remove the periods from your device IDs.  I believe the `home-controller` library will handle that, but it takes time/cycles.  In your config, where you have `"use_express": "false",` , remove the quotes from around false so that it is treated as a boolean instead of a stri

[2018-05-29 16:34] kuestess commented on #5
@awaspaas Thanks!  My bad, should have payed more attention to that.  Will try to fix this evening.

[2018-05-29 20:37] awaspaas commented on #8
I do also get the issue somewhat but mine only manifests once a week or so. The request pops right up immediately in the homebridge log but the device doesn't respond and homekit spins its pinwheel. Sometimes it eventually responds, sometimes not at all. Either way a reboot of homebridge clears it up. Is there some debug logging that can show where the holdup is during the unresponsive time?

[2018-05-29 21:31] Kung-Foo-Kamel commented on #8
Thanks for the responses, I’m away at the moment, so I will attempt to add Insteonlocal back into my config this weekend with the possible fixes stated above.

Also I believe there is no firmware updates for my hub, it’s stuck with firmware circa 2014 I believe.

But like I have said above, HCA will make my hub and Insteon system work like a race horse, would be nice to know how they have accompli

[2018-05-30 01:16] rasod opened #9 "Event listener not updating"
Thanks for the plugin, trying to replace my POS Insteon Homekit Hub

I have the 2245 Hub and the event listener doesn't seem to be updating the changes in realtime. The state changes seem to only update ever 5 mins according to the polling frequency.

Am I missing something?

Thanks Again

[2018-05-30 01:59] kuestess commented on #5
@awaspaas Update live on npm - should address the 6 button status issue.

[2018-05-30 02:00] kuestess commented on #9
@rasod Can you post you config.json and the debug output from homebridge (run as homebridge -D).

[2018-05-30 02:04] kuestess commented on #8
So now that I read through all of your responses, I understand the issue a little differently.  The loss of connection to the hub is something that I've noticed too and have been trying to fix.  Unfortunately, I think it is partially (at least) firmware related.  There was a firmware version at the end of 2017 that would chronically drop connections.  Insteon updated it and it seemed to be pretty

[2018-05-30 02:13] rasod commented on #9
Things of note:

There is an Error:
(node:4685) Warning: Possible EventEmitter memory leak detected. 11 connect listeners added. Use emitter.setMaxListeners() to increase limit

That happens when I add all my devices, but even with only one device it still doesn't update the status in realtime

config.json

{
  "bridge": {
    "name": "Homebridge",
    "username": "XXXX",
    "port": 51828,
    "p

[2018-05-30 02:34] Kung-Foo-Kamel commented on #8
Have tried hcatech.com ?

If you have windows running give it a try has a 30 day trial. It has no connection issues, would love to know their secret source (pun intended)

In regards to Homebridge I find a reboot will fix it for about 30sec then it starts playing up, I can turn a light on then off, after that it gets slow then unresponsive.

Like I said it seems to be the exact same thing happenin

[2018-05-30 16:06] kuestess commented on #9
@rasod Remove the periods in your device IDs within the config.  The event listener works by matching events that come across the wire to device IDs in your config.  The device IDs that come from the hub on the event listener do not have periods so it will never find a match (and therefore never update).  The `home-controller` package is smart enough to sanitize them and remove the periods.  My co

[2018-05-30 19:59] rasod commented on #9
Thanks, easy enough.

With so many devices I wrote a script to convert my openHab config (that has periods) to JSON. Didn't notice the note in your sample config to not include them. So it was a code 18 problem.

[2018-05-30 23:27] rasod commented on #9
Ok, making that change and removed the periods makes the status update in realtime - sorta.

Now when a device is controlled locally the status will update in the Home App instantly but it can't be controlled in the Home App. For example if I turn the light off it will reflect the change in Home but require 3 taps to turn it on.

{
  "name": "Basement Stairs",
  "deviceID": "2A3DCD",
  "dimmable":

[2018-05-31 00:36] kuestess commented on #9
@rasod Are both of these devices on/of plug-in modules?  Can you post the debug output from a couple on/off cycles from the Home app?  One other thing to try is disabling polling in your config - just remove the "refresh": "300" line and that should disable it.  The hub really doesn't have the 'bandwidth' to handle a lot of commands at once.  Polling tends to take up a lot of that and can sometime

[2018-05-31 00:43] rasod commented on #9
One is a The Laundry Light is a plug in module the Stairs are a SwitchLinc.

I did manage to make some progress by changing the case statement on line 230

case ('lightbulb' || 'switch'):

should be

case 'lightbulb':
case 'switch':

But I haven't tested all my devices yet

[2018-05-31 15:45] kuestess commented on #9
@rasod That case/switch is for the event listener - if you're having issues controlling devices then we will probably need to look in the 'getServices' function.  Have you tried disabling polling?

[2018-05-31 16:44] rasod commented on #9
Disabling Polling didn't seem to change anything.

Changing the case did fix the problem for the devices I have tested so far.
Changing the device to type lightbulb also fixed the problem, since your case statement will match lightbulb but not switch. Those devices are of type "switch" you should see the event listener log

`Found 1 accessories matching 2A3DCD`
`Hub command: XXX`
`Got event for Ba

[2018-06-01 01:32] kuestess commented on #9
@rasod I've made changes to the case statements and uploaded a fixed version to npm.  After reading the documentation, clearly the 'or' won't work the way I expected.  Somehow everything worked fine in testing and I didn't catch it.  Appreciate your feedback on the fanlinc in the other issue - I don't have one for testing but would like to get it working so I can do a proper release with all of th

[2018-06-01 02:57] rasod commented on #6
**The Fan will turn on, but you can't turn it off or update the speed in Home**

[5/31/2018, 10:38:24 PM] [Insteon Local Platform] Getting status for Bedroom Lights
[5/31/2018, 10:38:24 PM] [Insteon Local Platform] Getting state for Bedroom Fan
[5/31/2018, 10:38:24 PM] [Insteon Local Platform] Insteon event listener started
[5/31/2018, 10:38:25 PM] [Insteon Local Platform] Bedroom Lights is on at

[2018-06-01 21:20] rasod commented on #6
I also noticed turning the fanlinc light on/off (from the linked keypad or insteon app) does not update the status in Home App

[6/1/2018, 5:18:22 PM] [Insteon Local Platform] Found 2 accessories matching 27F8E4
[6/1/2018, 5:18:22 PM] [Insteon Local Platform] Hub command: {"standard":{"type":"50","id":"27F8E4","gatewayId":"3419B0","extended":false,"messageType":5,"hopsLeft":0,"maxHops":1,"command1

[2018-06-02 15:41] kuestess commented on #6
@rasod Thanks for all of your testing!  I've uploaded a new version to npm that I think will address most of these issues.  It is currently set up so that you need to define separate devices in your config for the fan and the light portion.  Appreciate any testing you can do!

[2018-06-02 19:59] rasod commented on #6
Ok here is what I have so far, still have to try controlling it from the linked KeyPad.

## From Home App

**Turn Light On - Pass**

Light: On
Fan: Off

[6/2/2018, 2:17:24 PM] [Insteon Local Platform] Setting power state of Bedroom Lights to on

**Turn Light Off - Pass**

Light: Off
Fan: Off

[6/2/2018, 2:17:56 PM] [Insteon Local Platform] Setting power state of Bedroom Lights to off

**Set Fan 10

[2018-06-02 22:29] kuestess commented on #6
@rasod Many thanks for the extensive testing!  Fixed the test for speed input and fixed a stupid error on the status function.  New version uploaded to npm.

[2018-06-03 02:03] rasod commented on #6
## From Home App

Almost everything is working

**Turn Light On - Pass
Turn Light Off - Pass
Set Fan 100% - Pass
Turn Fan Off - Pass**

**Turn Back On (resume 100%) - Fail**

This is when you tap the Fan in Home - It suppose to set the fan to its previous speed.

Light: Off
Fan: Off

[6/2/2018, 9:50:44 PM] [Insteon Local Platform] Setting state of Bedroom Fan to on

**Set Fan Med - Pass
Set Fan Lo

[2018-06-03 02:18] rasod commented on #6
Sorry should mention, when controlling the fanlinc from the keypad nothing is logged

[2018-06-03 09:10] Kung-Foo-Kamel commented on #8
Hi guys, some feed back, I made all the corrections above, and increased my CPU from 1 to 3 and doubled the ram in the VM, also gave homebridge max priority, and its better, but after about 5 commands it slows right down, and if I persist, it just locks up and requires a restart.

On a side note, username and password are not needed, I forgot to put those into my config, and everything worked, whe

[2018-06-03 15:44] kuestess commented on #8
@Kung-Foo-Kamel Maybe one more thing to try.....  Your 2242 hub still has the PLM interface port which is why you can connect without a username/password.  I _think_ that you can still connect to that hub via http, which is the only interface that the newer hub (2245) has.  In your config, change the  `model` to `"2245"` and see if that helps.  Just a thought!

[2018-06-03 15:49] kuestess commented on #6
@rasod Thanks again for doing so much testing!  The Home app repeatedly sends 'on' to each device, even when you only change brightness/speed, so I purposely only had the 'on' command update status since the subsequent speed command will turn on the fan.  That's why resuming doesn't work, but I think I can work around that.  Although its not yet properly documented, I have built in support for key

[2018-06-03 16:41] rasod commented on #6
Thanks

If it makes it any easier I would be ok if it "resumed" to a specific value like 50% instead of last used.

As for the keypad, I've tried the following but can't get keypad and fanlinc light to stay insync

        {
          "name": "Bedroom Keypad",
          "deviceID": "2A93A1",
          "dimmable": "no",
          "deviceType": "scene",
	  "keypadbtn": "ON",
	  "six_btn": true

[2018-06-03 16:58] kuestess commented on #6
@rasod New version on npm that should remember the last speed and resume when tapped on.  Yes, you've got the correct config for keypad buttons, although I don't have a 6 button keypad so haven't been able to test.  Can you post some debug output with the keypad defined and a couple on/off cycles? I thought about going the route of 'related' IDs in the config but opted to go the route of getting k

[2018-06-03 17:11] rasod commented on #6
If you have a spare 8 button keypad you can switch it to 6 button. In the Insteon app or though some button combo.

[6/3/2018, 1:06:53 PM] [Insteon Local Platform] Getting status for Bedroom Keypad
[6/3/2018, 1:06:53 PM] [Insteon Local Platform] Getting status for Bedroom Lights
[6/3/2018, 1:06:53 PM] [Insteon Local Platform] Getting state for Bedroom Fan
[6/3/2018, 1:06:53 PM] [Insteon Local Plat

[2018-06-03 17:31] rasod commented on #6
Oh you want selective polling to be a challenge? :)

What if you could override the default refresh value per device? That way you could set the default to 60 mins, some devices would be set to 5 mins and some set to 0 (aka skip).

:)

[2018-06-03 21:40] Kung-Foo-Kamel commented on #8
G'day kuestess, just tried this and its an order of magnitude worse, it's really slow and fails after trying just one light, seems to get backed up straightaway, but in PLM mode its its fast to respond, but after a few goes it gets backed up, but actually will recover if you leave it, its almost usable unless you switch a group on or off, this is were it will fail completely.

Not sure what HCA us

[2018-06-03 23:12] logname commented on #8
[You can buy a 2245 hub for $80](https://www.smarthome.com/insteon-2245-222-hub.html), that will solve the slowness issue.

[2018-06-03 23:19] Kung-Foo-Kamel commented on #8
The 2245 hub will most likely not function correctly in Australia, if it did, every man and his dog would be selling them here, we are still stuck with the non homekit/alexa/google hub, that would also cost me $120 plus some silly rate for transport.

There is an obvious work around for the buffer slowness issue, as stated in my edits above, HCA have figured this out by a rolling port system.

[2018-06-03 23:20] kuestess commented on #6
@rasod New version on npm that should provide better status for six button keypads and per-device polling :-).  Devices will inherit the 'platform' setting/interval (defaults to 0/off) unless one is defined at the device level.  Just add a `refresh` key/value to the config (just like the platform config) for each device you want to override the platform setting.  I tested with polling off at the p

[2018-06-03 23:50] logname commented on #8
Ah, OK. That makes a major difference. No, a 2245 will not work for you. Carry on.

[2018-06-04 01:37] Kung-Foo-Kamel commented on #8
kuestess, using 2245 was worse than using 2242, both were using port 25105, and I tried 2242 with alternate port number, and results were identical to using port 25105.

Basically using the 2245 hub setting is a no go at all.

I have extracted some transmit and receive packets from Wireshark and zipped them up, if you need more let me know.

[WireShark.zip](https://github.com/kuestess/homebridge-p

[2018-06-05 02:19] kuestess commented on #8
Thanks @Kung-Foo-Kamel - looks like this capture only contains buffer requests.  Can you capture some on/off cycles for one of your switches?  Thanks!

[2018-06-05 04:32] Kung-Foo-Kamel commented on #8
[Insteon.zip](https://github.com/kuestess/homebridge-platform-insteonlocal/files/2070843/Insteon.zip)

Kuestess, give that a shot, I had to figure out how to use the filter in Wireshark, got it sussed now.

[2018-06-05 04:41] rasod commented on #6
Thanks, I will test it out and report back.
Just to confirm is the value of the refresh a string or int?

[2018-06-05 15:57] kuestess commented on #6
String, similar to the platform-level config.

[2018-06-06 02:39] rasod commented on #6
Polling works great, still can't get the event updates from the FanLinc.
The polling is a good substitute for the realtime event, it seems to only be the FanLinc that is not working

Config:

        {
          "name": "Bedroom Keypad",
          "deviceID": "2A93A1",
          "dimmable": "no",
          "deviceType": "scene",
          "keypadbtn": "ON",
          "six_btn": true
        },

[2018-06-06 03:07] kuestess commented on #6
Thanks again for testing.  I try to use the built-in events from `home-controller` where possible, but the documentation isn't clear, and looking at the code it does't appear that events are emitted for the fan portion of the fanlinc.  I'll take a crack at incorporating into the event listener.

[2018-06-06 03:29] rasod commented on #6
Thanks, the events for the light portion of the fanlinc don't seem to fire either. The logs I sent over are for me trying to turn the light on and off.

[2018-06-06 04:22] rasod opened #10 "Remote Support"
Is it possible to add support for the Insteon remotes? (2342-242, 2342-232, 2342-222). I added one of mine as a "lightbulb" and it worked! Turned the HK lightbulb on and off. So you could use automations to use it. Would be really cool if it could be exposed as stateless switches to HomeKit.

Some logs for the single switch - 2342-242

ON
[6/6/2018, 12:13:00 AM] [Insteon Local Platform] Mini Remot

[2018-06-06 22:49] rasod commented on #5
Should you be able to control the scene button from HomeKit? I added a button and it’s status is updated in Hone app when I push the button. If I use the Home app to change its status it doesn’t update with a “Not Responding”

[2018-06-07 00:07] kuestess commented on #5
You should be able to control a scene via the Home app which would turn any button on that is specified in the scene.  You can't currently turn on specific keypad buttons, although that is possible.  Hmmm....might make a nice trigger.

[2018-06-07 00:13] rasod commented on #5
That is exactly what I was trying to do. Created a automation where if any light was turned on the “Goodbye” button would light up. Then if Goodbye is turned off all the lights turn off.

I know I can do this with Insteon natively, but I no longer have the patience with Insteon “programming” 🤮

[2018-06-07 02:14] kuestess commented on #5
I could create a keypad device that would allow you to toggle a specific button and monitor its state, different than the current scene state paradigm.  It would only turn on/off the button and not any associated scene.  That should allow you it use it as a trigger.

[2018-06-07 02:16] kuestess commented on #10
Was thinking about this myself as I have a mini remote floating around.  Certainly possible, but may take me a bit to get to it as I'll be away from a computer for a bit.

[2018-06-07 02:20] kuestess commented on #6
@rasod New version on npm adds fan to the event listener - maybe not the most efficient implementation, but it should capture fan events.  Still odd that you don't get light events - do you get them if you remove the fan from your config?

[2018-06-07 02:36] rasod commented on #5
I would find it useful to have the keypad scene buttons be standard switches in HK, but i'm just one person. :)

[2018-06-07 12:00] rasod commented on #5
As a followup, I can't seem to get the scenes to work from Home, the switch will show the correct status but when I try to change it in Home it just spins and then “Not Responding”. Not much in the log either.

Jun  7 07:57:09 raspberrypi homebridge[22985]: [6/7/2018, 7:57:09 AM] [Insteon Local Platform] Setting power state of Goodbye to off

        {
          "name": "Goodbye",
          "devic

[2018-06-07 13:34] kuestess commented on #8
@Kung-Foo-Kamel Thanks for the capture.  As I looked through it, they don't appear to be using any special tricks, but rather the same calls that the `home-controller` package uses (which I use for this plugin).  Interestingly enough, it looks like they only use the http interface as I don't see a connection on port 9761.  The only difference I can spot is that they close their connection to the h

[2018-06-07 20:34] Kung-Foo-Kamel commented on #8
Hi, I just checked on that and no it doesn't, I think it polls for an update after x time, their interface if used properly is supposed to take over the job of the hub as you can do all the linking in their software, this way all requests, from switches go through their software, I have not done this, as its a ridiculous amount of work, and if my server has a failure, my lights still function prop

[2018-06-08 23:13] kuestess commented on #8
@Kung-Foo-Kamel I was thinking the same thing - kill the connection and re-establish as needed for commands and periodically for polling.  Unfortunately the plugin was written thinking that these little boxes could handle a constant connection, so its a bit of work to change to an on-demand connection or at least provide the option.  Certainly feasible, but may take some effort.  I'll be away for

[2018-06-09 02:39] funkyvisions opened #11 "stops responding"
Hi. My Insteon HubPro (HomeKit) died so I got a 2245. I came across homebridge and this plugin hoping it would give me the same functionality.  I got it installed this afternoon and it worked for a little while.  Then later tonite it stopped responding.  My Hub is on a static IP.  Here's my config (I had to change the bridge.username, because it kept saying :66 was in use).

{
    "bridge": {

[2018-06-09 14:12] funkyvisions commented on #11
Hmmm.... somehow the password on the hub got reset to the factory setting.  I'm trying that username/password combo.  It's back up and running, I'll see if it sticks.

[2018-06-09 14:28] funkyvisions commented on #11
I've set refresh to 0 also.  Seems like only "switch" is updating status (I never see updates for dimmer).    It also seems to reporting the same name multiple times when it says "Got updated status for" and none of them are the device I just toggled.  I see that in version 0.3.3-q you fixed this https://github.com/kuestess/homebridge-platform-insteonlocal/issues/9 (and I verified I have that chan

[2018-06-09 14:29] funkyvisions commented on #11
@kuestess thanks for looking into the issue.  this is definitely a cool plugin and I'll contribute back if it helps (I do javascript/nodejs for my day job).

[2018-06-09 14:35] funkyvisions commented on #11
Ok, found this on line 355:

						case 'lightbulb':
						case 'dimmer':
						case 'switch':

You need to add dimmer there too (most of my device were dimmers).  Seems to be getting back statuses now.  But it will probably still stop responding as you suggested.

[2018-06-09 14:41] kuestess commented on #11
@funkyvisions Thanks for the catch - probably got mistakenly deleted as part of a recent change.  I've added back and will publish shortly.  Happy to to accept PRs - I'm more of a hobbyist than a developer so appreciate any ideas.

The 'Got updated status...' that you see in the log is the event listener.  It watches for Insteon events and updates status real-time.  To do this, I need to keep a co

[2018-06-09 15:34] logname opened #12 "HomeKit Scenes & Automations broken"
Unable to turn off Insteon devices that have been controlled outside of HomeKit. This issue coincides with update to iOS 11.4 on my phone (although I'm skeptical that that has anything to do with this). I'm using Apple TV for automation, and after discovering this issue, I also updated TV OS, but that has not changed the situation. I have also upgraded to the latest build of Homebridge, and I'm su

[2018-06-09 17:43] kuestess commented on #12
@logname I've updated to all of the latest versions as you mention above, but don't have issues.  Can you post console output from homebridge in debug mode `homebridge -D`?

[2018-06-09 20:52] logname commented on #12
In the console output below, I first turned on the device "Table Lamp" from the Insteon app, and then from HomeKit, ran the Goodnight scene. The icon status changed to OFF, but the light stayed on. Next in HomeKit, it tapped the "Table Lamp" icon to change its status to ON, and then ran the Goodnight scene again. This time the light turned OFF. Once again, I returned to the Insteon App and turn th

[2018-06-09 21:30] logname commented on #12
Additional testing: This issue may have been introduced changes for iOS 11.4 after all. I just fired up my old Homebridge running on a Mac. It did not get the updated Homebridge, and it behaves the same way. Before I shut it down a week ago, it was functioning without this issue.

[2018-06-10 00:44] logname commented on #12
Disregard above. Looks like my hub was faulty-ish. Works from the Insteon app, but wasn't properly reporting state. I pulled out my spare hub, configured it and now it seems to be working. Feel free to just delete this entire issue report. 😳

[2018-06-10 03:32] funkyvisions commented on #11
@kuestess thanks. i've installed the update.  i'll let ya know how it goes.  i do notice that for my dimmers it's still not logging "Got updated status".  I logged "command1" and it's not one of the values 19, 3, or 0.  It's a 13 and a 4.

[2018-06-10 12:02] rasod commented on #11
I have been meaning to ask what is the difference between the device types? I wasn't having much luck with "dimmer" so I set mine to lightbulb with the dimmer value enabled - seems to work.

I have noticed the hub hang too, setup a cron to restart home bridge every night. But sometimes the hub needs a hard reset. I was on my fourth HubPro when I gave up and started using OpenHab, but then that sta

[2018-06-10 18:02] kuestess commented on #12
We'll just close this out and maybe no-one will notice :-)

[2018-06-10 18:02] #12 closed

[2018-06-10 18:08] kuestess commented on #11
@rasod Functionally there's no difference between dimmer and lightbulb - just provided multiple names to do the same thing.  Switch is the same as dimmer/lightbulb, except it is on/off only, no dimming.  Interesting that the Hub Pro is a beagle board.  may have to see what fun stuff we can do with that.

@funkyvisions In addition to the event listener, each device should generate its own events fo

[2018-06-10 20:14] Kung-Foo-Kamel commented on #8
Thats awesome, I will give it a shot and see how it goes.

[2018-06-11 12:48] kuestess commented on #11
@gozoinks Looking at issues on the Homebridge project, this appears to be associated with the recent update of homebridge.  You might want to try and downgrade homebridge rather than resetting the hub.  I can usually resolve response issues by rebooting the hub rather than completely resetting.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-12 03:52] funkyvisions commented on #11
@kuestess been up for 37 hours without issues.  Well, a couple of times I swore the status wasn't updated correctly on the Home app on the phone.  But the box seems to still be responsive.  You can close this if you want and if I find any other issues I'll open up another ticket.  Thanks for the help so far.  This is cool!  I might play with the thermostat and submit a PR if it ends up easy.

[2018-06-12 03:53] gozoinks commented on #11
Rolling back to homebridge@0.4.42 didn't seem to help, but doing that and rolling back to homebridge-platform-insteonlocal@0.3.2 seems to have helped.

[2018-06-13 02:40] rasod opened #13 "Native HubPro Support"
Less of an issue with the plugin, more of an "[nerd snipe](https://xkcd.com/356/)" question.

I have been trying to get the plugin to run natively on the HubPro, since I got a pile of them (if you count 3 a pile) and if it worked it would allow instant status updates. The HubPro is basically a Beagle Board with a PLM hooked up via serial pins. I managed to boot the BB off an SD and install the plu

[2018-06-13 08:35] kuestess commented on #13
@rasod home-controller has built-in serial support (which I haven’t implemented in the plugin).  I think it’s intended for a serial PLM but maybe that will work here. Try 19.2/8/N/1.

[2018-06-14 00:38] rasod commented on #13
Bingo! 19200 is the magic number - I tried every baud I could think of, but 19200 since it is suppose to be the default for home-controller

[2018-06-14 03:01] rasod commented on #13
It Works!

I changed the connection in the plugin to use the serial port and it works. Had to modify the connectionWatcher slightly - to prevent multiple ports being open.

It is fast changes are instant, even with the event listener disabled.

I have only tested it with one device so far. Still have to figure out how to link all the devices without having to go around the house pushing the set bu

[2018-06-14 10:40] kuestess commented on #13
@rasod Wow, great work!  Happy to accept a PR to add support. I’m away right now, otherwise I’d drop everything and work on this. :-)

[2018-06-14 21:18] Kung-Foo-Kamel commented on #8
I have found a fix for this issues, take all Insteon gear and sell it on fleabay, I am switching to standard RF433 gear as its 1/20th the price and works way better for my use case.

We don't have hardwired Insteon switches, only mini remotes, the RF433 gear have really nice flat panel touch sensitive RF switches that just wire straight into existing gear, they are more wife friendly.

[2018-06-16 01:58] rasod commented on #13
I had to write a little script to link the devices to the hub. If they are not linked you can control them and pull their status but the status won't be pushed as an event. We can probably make the plugin automatically create the links for new devices by comparing the config.json with the links object from the hub, but one thing at a time.

[code]

[2018-06-19 02:30] funkyvisions commented on #11
You can close this thread if you want.  It's working really well for me.

[2018-06-19 15:49] kuestess commented on #11
Closing.  @gozoinks I've got some other ideas for stabilizing the connection to the 2242 hubs.  Please continue this thread in [#8](https://github.com/kuestess/homebridge-platform-insteonlocal/issues/8).

[2018-06-19 15:49] #11 closed

[2018-06-19 16:29] gozoinks commented on #8
Still following this thread. I’m using a 2242 with port 25105. The resets might be helping. I still have delays, but perhaps only just prior to a reset.

[2018-06-19 18:23] awaspaas commented on #5
Greetings, sorry for the delay in testing. The behavior is now correct when triggering from homekit, however when triggering from the keypad, homekit shows the main load has also turned on as well.

[2018-06-21 16:43] kuestess commented on #13
@rasod I wrote the `getDevices()` function with the intent of discovering devices automatically which should populate an array of devices that the Hub knows about.  I haven't touched it in awhile, but that should at least be a start.

[2018-07-20 23:59] kuestess commented on #8
@Kung-Foo-Kamel I just published 0.3.5 that attempts to replicate what HCA does.  In effect, it creates  a connection only when a request is in process/needed and closes when not.  Downside is that the eventListener won't work, but periodic polling should update status.  Let me know if it works for you.

[2018-07-25 15:56] awaspaas opened #16 "0.3.5 Error"
I am getting this error after installing 0.3.5. Rolling back to 0.3.4 works fine.

[2018-7-25 10:54:52] [Insteon Local Platform] Initializing InsteonLocal platform...
/usr/local/lib/node_modules/homebridge-platform-insteonlocal/index.js:240
			hub.httpClient(config, function(had_error) {
			               ^

ReferenceError: config is not defined
    at InsteonLocalPlatform.connectToHub (/usr/local

[2018-07-25 16:46] kuestess commented on #16
@awaspaas I see my stupid error.  Will get this fixed later today.

[2018-07-25 20:33] kuestess commented on #16
@awaspaas Uploaded a fix for the connection error.  Made sure that I tested a little better this time :-)

[2018-07-25 20:36] awaspaas commented on #16
It works. Thank you!

[2018-07-25 22:29] kuestess commented on #6
Closing due to inactivity.

[2018-07-25 22:29] #6 closed

[2018-07-26 02:21] awaspaas opened #17 "Request: dual outlet support"
I would like to request support for control over both separate outlets of the dual on-off outlet module 2663-222.

[2018-07-26 03:21] kuestess commented on #17
You read my mind - have that in the plan along with support for the remotes.  I've written a device handler for the on/off outlets for SmartThings already, so the hard part is done.  I'm working through a kitchen reno at the moment which is commanding most of my time, but will try to get to this a soon as I can!

[2018-07-30 22:48] Kung-Foo-Kamel commented on #8
@kuestess I will give this a shot and see how it performs, I have started to switch out some of the Insteon gear for basic 433mhz switches, and I'm not fussed if HB doesnt know the state, as I can just tell what state I want, so if a light is on, and HB thinks its off, and I want it, HB just resends the on, this only works if the device has seperate on and off signals.

Does this plugin resend eve

[2018-07-31 00:04] kuestess commented on #17
@awaspaas Just published 0.3.7 with support for dual outlets.  Each outlet will show as an individual device - you can use the device type 'outlet' and additionally specify 'position' as either 'top' or 'bottom'.  Tested and seems to be working.  Let me know if you have any issues!

[2018-07-31 14:06] kuestess commented on #8
@Kung-Foo-Kamel Thanks for giving it a shot.  I dusted off my 2242 and it seemed to work, but I only have a couple devices linked to it.  Understand your frustration with the Insteon gear - when it works it seems to work well, but sometimes reliability can be a problem.  Can understand why you'd move away form it given the limited selection of devices.

Except for power on commands, I don't do any

[2018-08-02 22:24] Kung-Foo-Kamel opened #18 "Install Issue"
Just setting up a new Homebridge Hub and I've hit this brick wall with your plugin:

serialport@5.0.0 install /usr/local/lib/node_modules/homebridge-platform-insteonlocal/node_modules/serialport

node-pre-gyp ERR! Tried to download(undefined): https://github.com/EmergingTechnologyAdvisors/node-serialport/releases/download/5.0.0/serialport-v5.0.0-node-v64-linux-arm.tar.gz
node-pre-gyp ERR! Pre-buil

[2018-08-02 22:29] kuestess commented on #18
@Kung-Foo-Kamel That's an optional dependency for home-controller that you should only need if using a serial PLM.  Does homebridge run despite the error?  If not, add `--unsafe-perm` to the end of your npm install command.

[2018-08-02 22:37] Kung-Foo-Kamel commented on #18
Hi bud, i haven't run homebridge yet, I'm just installing all the plugins first and was stopped by this one, --unsafe-perm seems to have worked.

Cheers.

[2018-08-03 14:01] daviesdoclc opened #19 "0.3.7 broke everything for me"
Control state seems all messed up.  My dimmers are off, but show as "on at 0%" in Home App.  And all my toggle switches are showing as on, even though they switched off this morning.  What changed?  Do I have to do anything with configuration?  I can post logs and config this weekend when I get time.  Just wondered if anyone else experienced issues with the new release.

[2018-08-03 16:00] kuestess commented on #19
@daviesdoclc I didn't (intentionally) change anything in the dimmer 'get' functions that would cause this.  I have noticed this sporadically on prior versions, but only on single devices and not all.  Can you post your config and output from homebridge in debug mode (`homebridge -D`)?  Thanks!

[2018-08-03 16:43] awaspaas commented on #19
Yeah something is still screwy with the event listener for me on this one as well. It looks like most events aren't seen by the event listener at all, and some things seem to trigger a full refresh of all the devices. I'll troubleshoot a little more today.

[2018-08-03 22:28] rasod commented on #10
Thanks - I will have to take a look at it when I have some time.

[2018-08-04 16:31] funkyvisions commented on #19
Here's my config.  What do you want me to try with debug mode on?  It seems like if I ask Alexa to turn something on that then I have to toggle it twice with HomeKit to get the state back.
[code]

[2018-08-04 16:33] funkyvisions commented on #19
Here's my config.  What do you want me to try with debug mode on?  It seems like if I ask Alexa to turn something on that then I have to toggle it twice with HomeKit to get the state back.
[code]

[2018-08-04 16:37] funkyvisions commented on #19
Here's my startup log:
[code]

[2018-08-05 13:14] #18 closed

[2018-08-05 15:09] kuestess commented on #19
@daviesdoclc @funkyvisions I've uploaded a new version that I think will fix this issue.  I was trying to use the built-in events from `home-controller` to trigger status updates.  Unfortunately, those events don't provide level when switches are manually triggered, likely causing the 'on at 0%' issue.  Doing a little more troubleshooting, those events weren't always reliable, so I've reverted bac

[2018-08-05 15:11] kuestess commented on #5
Closing for inactivity - please open another issue if the current support is not working.

[2018-08-05 15:11] #5 closed

[2018-08-05 22:48] Kung-Foo-Kamel commented on #8
Just testing this now, and its better, but still not working properly, you can turn a couple of lights on, then the third time, there is a delay, then it starts to lag, but eventually follows what your asking, if you wait a bit, it will catch up.

My fear is I will have to rip all of this Insteon gear out, only wish they had released a Homekit compatible hub in AU.

When using standard 433 gear wi

[2018-08-06 03:11] funkyvisions commented on #19
So far it seems better.  I'll let you know if I see any problems.  And duh... I just noticed I used 2 different accounts.  Must be cuz I answered the first one at work.

[2018-08-06 11:55] funkyvisions commented on #19
Ok. Not better. This morning I opened up the Home App and everything is showing as ON. Nothing is ON.

[2018-08-06 12:30] sphawk88 commented on #19
i played around with your code earlier this year, and simply did not have time to put in to iron out my problems - after toying with it last night i will comment on your great updates and support! extra kudos to you @kuestess! i had limited success last night in my ~hour of installing (devices would turn on, but would not update correctly or turn off in HomeKit). below is a snippet from my daemon

[2018-08-06 12:43] funkyvisions commented on #19
Logs if it helps

[code]

[2018-08-06 16:02] sphawk88 commented on #19
after tweaking my setup from systemd to init.d as a bootup start method, the plugin appears to work correctly (and rather snappy judging by the ssh logs compared to me changing states using the insteon ios app). i am still getting a "MaxListenersExceededWarning" error, which i will investigate effects once home and able to add homebridge to my phone again.

'''
pi@raspberrypi:~ $ homebridge
[2018-

[2018-08-06 16:41] kuestess commented on #19
@funkyvisions Thanks for posting logs!  Unless you're an extreme night owl, I assume that the lights in question were turned off prior to the log snippet above :-) - if so, did the Home app show those devices as off at that time?  I don't see anything in the logs that would change the status in homebridge via the event listener, although it looks like some (porch light, garage light, lamp post) we

[2018-08-06 16:46] kuestess commented on #8
@Kung-Foo-Kamel Glad to hear its slightly improved.  Nothing you need to add to your config - on demand connections should be the default for a 2242 hub.  Right now I only check whether the Hub is in use every 10 sec.  I might try shortening that duration (more frequent checks) to see if that helps with response time.  I'll push out an update later today to test that out.

[2018-08-07 00:57] kuestess commented on #8
@Kung-Foo-Kamel Just published a new version that decreases the 'idle' connection time before the plugin disconnects from the hub.  Let me know whether that helps response time.

[2018-08-07 00:58] kuestess commented on #19
@funkyvisions Just published a new version that reverts back to the old event listener for switches as well as it seems to be more reliable.  Let me know whether that solves your issues.

[2018-08-07 09:47] sphawk88 commented on #19
hmm, switches seem to work now however I am also getting dimmer devices showing on states at zero percent (where they are simply off). I'm also still having difficulty finding a bootup method which correctly starts HomeBridge; I initially thought it was an error on the chamberlain plugin but will test an insteon local only setup later to confirm.

[2018-08-07 11:38] funkyvisions commented on #19
Hmmmm. Same thing this morning. Everything is OFF but Home App shows EVERYTHING as ON.

[2018-08-07 11:39] sphawk88 commented on #19
so my startup problem appears to have been a hiccup where systemd was kicking homebridge on before completing a LAN connection, and homebridge did not gracefully restart or retry a connection causing it to essentially be stuck on the chamberlain plugin. as for my dimmer devices showing 0% i have a feeling it has to do with either my programmer keypad or regular insteon software scenes; will have t

[2018-08-07 19:39] kuestess commented on #19
@funkyvisions Unfortunately I don't see anything in the logs that you posted that might trigger this.  When all devices are on does the Insteon app reflect that state or the correct (off) state?  Have you tried restarting your Hub?  I've just published an updated version of the plugin that upgrades the event listener to catch more types of more types of status messages.  This should more frequentl

[2018-08-08 12:06] funkyvisions commented on #19
@kuestess still not working... I've posted an entire session from on in the evening to off in the morning with images from Home App vs Insteon App and the homebridge logs.  Hope this helps.

https://www.dropbox.com/s/uh2xzxfejzl4opt/lights.pdf?dl=0

https://www.dropbox.com/s/rg2z0hcnt5s2i3z/logfile.log?dl=0

[2018-08-09 02:57] kuestess commented on #19
@funkyvisions Thanks for taking the time to outline all of the changes along with the log.  I still don't see where any 'off' command is sent (command1 = 13) for your schedules at midnight and sunrise.  There are group commands sent, but for whatever reason they have an on command (I don't think that there is a way to invert state/commands that I remember).  I do see the manual off that you sent t

[2018-08-09 22:46] Kung-Foo-Kamel commented on #8
0.3.7-5 is complete broken for me, nothing is responding at all now, previous version was working, was a little slow, just had to wait a few seconds between switching things, but now its back to square 1, pretty much doesn't respond, and if it does, its like 5 minutes later.

[2018-08-10 13:03] funkyvisions commented on #19
@kuestess it was better since installing.  this morning only one device was showing ON that shouldn't have.  A couple hours later it was correct.

[2018-08-13 02:38] kuestess commented on #8
@Kung-Foo-Kamel I've published a new version to npm that will allow you to adjust the hub connection check interval by adding 'checkInterval' to your config at the platform level and setting to the number of seconds you want it to wait before disconnecting the Hub.  It will default to 20 sec, which seems to work fairly well.  I also ran homebridge looking at all debug messages while connected to m

[2018-08-19 22:45] kuestess commented on #19
@daviesdoclc @funkyvisions Just published 0.3.8 which allows you to identify members of a scene/group.  Once the scene is triggered the plugin will now check status for any devices defined in `groupMembers` in the config for your scene.  From your log, I think this is how you were triggering lights off/on on a schedule so this should help with more timely status updates.

[2018-08-29 01:48] scourchesne commented on #8
@kuestess I can confirm that the change in the index.js of the home-controller Insteon library helps a lot with my 2242 controller.

[2018-08-29 11:27] scourchesne commented on #8
@kuestess Quick note on the 2242, currently, the device status polling doesn't seems to work.

[2018-08-29 23:32] kuestess commented on #8
@scourchesne Thanks for testing the above fix - glad that it worked for you!  Does the hub remain responsive to commands over time?  For the polling issue, I just published a fix - I made a change in a prior version that would inadvertently limit polling to the first device (I only tested with one device :-) ).  The update should fix that.

[2018-08-30 01:42] scourchesne commented on #8
@kuestess 2242 Hub is super responsive with the following config.
I can make light blinking disco-style and the hub keep up!

But, still no update of the status.  Polling seems broken.  Manual input or Insteon app input are not updated in the Homekit interface.

Config :
[code]

[2018-08-30 16:12] kuestess commented on #8
@scourchesne glad to hear it remains responsive - I'll open an issue for `home-controller` to get this change integrated into that library.  With the current code for 2242 hubs, I'm trying to keep the connection to the hub at a minimum (essentially on-demand) meaning that the event llistener won't work (requires a persistent connection).  As a result, you won't see status updated immediately in th

[2018-08-30 16:29] kuestess commented on #8
Well crap.  Let me dig out my 2242 do a little testing to see if I can figure it out.

[2018-09-02 14:22] logname opened #20 "Express Server updates"
Hi Scott,

I'm helping test a Hubitat driver one of the community memebers is creating for me and the rest of the Hubitat community so we can use Express Server to control Insteon lights via HTTP GET. He has ON/OFF working for lights and polling so Hubitat will match the Insteon light's state after sending the command. He also has level working, but we have noted that there isn't a defined way to

[2018-09-03 19:16] kuestess commented on #8
@scourchesne I tested (as best I could) the same configuration that you posted above with my 2242 and polling seemed to work ok for me.  I only have 2 devices linked to that hub, but each seemed to update in the defined refresh interval.  Since your setup seems to work with the connection watcher disabled, I updated the code to (re)enable the event listener in the case where the connection watcher

[2018-09-03 19:17] kuestess commented on #20
@logname Just published 0.3.9 that should add status updating in Homebridge when you use the express server.  Let me know if you have any issues!

[2018-09-03 19:19] #10 closed, assigned to nobody

[2018-09-03 19:37] scourchesne commented on #8
@kuestess Great !  I confirm that 0.3.9 give realtime (FAST!) update on my 2242. I will report about stability after more testing.

[2018-09-03 19:56] scourchesne commented on #8
@kuestess Quick report : The event-driven status updates works for manual scenes activation on the keypad but doesn't catch manual ON/OFF event from the same physical dimmer/keypad.

The event listener catch 100% of the input from the Insteon app. Also, just opening the Insteon mobile app refresh everything on the homebridge side. (Probably catching the status fetching from the Insteon App on the

[2018-09-04 03:30] sirfergy opened #21 "How to get iolinc devices to respect the "Check sensor before triggering" option?"
I have a garage door opener connected via iolinc.  It opens/closes fine, but if it's open and I tell Siri "open the garage door" it'll close it.  From the Insteon app or my Stringify flow it'll respect that setting and not close the garage door.  Is that something that can be enabled to this?

[2018-09-04 03:52] sirfergy commented on #21
I suspect it's because you always set the state to on, why not pass the state being requested?

[2018-09-04 22:51] kuestess commented on #8
@scourchesne Not sure I completely follow the issue that you describe.  Sounds like it updates status properly for scenes and associated devices, but isn't catching status changes for manual on/off for the individual device.  Is that the issue that you are having?

[2018-09-04 22:57] scourchesne commented on #8
Exactly

[2018-09-05 02:38] kuestess commented on #8
@scourchesne New version published on npm that should fix issues for manual on/off.  Corrected logic for on events.

[2018-09-05 15:09] logname commented on #20
Working for outlets, switches and lightbulbs, but for some reason not dimmers or plugin dimmer modules. It the light turns off via Express Server, but the status in HomeKit goes from 100% to a random dimmed amount such as 89%, 73% or something like that. It's as if the status update is terminating before the ramp is completed.

[2018-09-05 23:30] kuestess commented on #8
@scourchesne Can you post a log of the crash?

[2018-09-06 01:39] kuestess commented on #8
@scourchesne Definitely a strange error.  Made a slight tweak and uploaded to npm - see if that works for you.

[2018-09-06 01:51] shereefalkady opened #23 "Status Issues"
everything is working great from homekit.... but i have no event listeners and it is not polling- what could i have done wrong...

also why cant i turn the light on to 20% from off state it always has to go to 100% first...

[2018-09-06 05:30] shereefalkady commented on #23
willing to pay lots to get this working --- anyone?

[2018-09-06 11:51] kuestess commented on #23
@shereefalkady Can you post your config and log from homebridge startup?

[2018-09-06 13:11] shereefalkady commented on #23
sure - i will post the config as well as the error i get ... when i decrease the number of my devices the error goes away but i am still not getting any status updates from the listener, the listener is completely non existent for me - and it polls every hour but still gives wrong status...

{
    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3D:E3:CE:30",
        "port": 59

[2018-09-06 13:12] shereefalkady commented on #23
@kuestess here is the full log:
C:\Users\smart>homebridge
[2018-9-6 15:55:34] Loaded config.json with 0 accessories and 2 platforms.
[2018-9-6 15:55:34] ---
[2018-9-6 15:55:34] Loaded plugin: homebridge-fibaro-hc2
[2018-9-6 15:55:34] Registering platform 'homebridge-fibaro-hc2.FibaroHC2'
[2018-9-6 15:55:34] ---
[2018-9-6 15:55:34] Loaded plugin: homebridge-platform-insteonlocal
homebridge API vers

[2018-09-06 14:57] shereefalkady commented on #23
Actually the status is normally correct after it polls, once an hour....
but i cant get it to do anything other than poll once an hour...

[2018-09-06 15:31] shereefalkady commented on #23
UPDATE:  i am not sure i mentioned this -- but the sensors work great - 95% of the time always report status instantly.....

also i figured out some devices DO update.... here is the list below ... if you notice... ONLY on/off devices update status - not the dimmers... also not all the on/off devices update status....

[2018-9-6 18:11:05] [Insteon Local Platform] Setting level of Front Room to 100

[2018-09-06 15:46] shereefalkady commented on #23
UPDATE: so
1.the event listener works with the (2477S) Switch, all the on off devices that responded were(2477S) --
2.the on/off modules though (2443-222) do not update status... --
3.and all dimmers switches (2477D) (2477DH) and micro module (2442-222) do not update status

[2018-09-06 15:50] shereefalkady commented on #23
UPDATE: i also have one Insteon 2453-222 DIN Rail On/Off -- that reports status ok

[2018-09-06 15:56] shereefalkady commented on #23
HAPPY UPDATE!!!  CHANGED TYPE FROM DIMMER TO LIGHTBULB -- NOW IT WORKS -- the listener still doesnt get the events but at least it polls it (i set it to poll every second - will let you know how that works)

[2018-09-06 16:37] shereefalkady commented on #23
@kuestess so.... ofcourse it cant handle polling everything every second.... so its a shame - i have to be out of sync for 5 minutes on the devices that dont communicate with the event listener...

******the 2477S and 2453-222 are perfect though

[2018-09-06 20:27] kuestess commented on #23
@shereefalkady A couple of suggestions - I would recommend that you set the keepAlive to 3600 (or delete from your config as it defaults to that) as the 2245 can only handle connections for so long before it stops responding.  Resetting the connection every hour seems to solve that.  Please make sure that you have installed the latest version - I don't see messages in the output above that I added

[2018-09-06 21:50] shereefalkady commented on #23
@kuestess  How do I make sure I have the latest version? I just installed it yesterday so I guess I should ...

It was not even polling when they were “dimmers” ...
Now even when I have it polling every second the same devices always report to eventListener and the same devices never do ... I tried it with just one device - one dimmer only ... but it still didn’t report to event listener ... pleas

[2018-09-06 21:51] shereefalkady commented on #23
Also are there any system prerequisites I need ?

And the memory leak issue ?

[2018-09-06 22:59] kuestess commented on #23
@shereefalkady You can check the version you have installed by running `npm ls homebridge-platform-insteonlocal`.  Version 0.3.9-2 is the latest.  Installing via npm should install all required dependencies.  Again, please disable polling (at least temporarily) as it will make troubleshooting easier.  I have a lot of the same devices that you have and don't have issues with the event listener.  On

[2018-09-07 05:30] shereefalkady commented on #23
@kuestess ....so....
when i check version this is what i get:

C:\Users\smart>npm ls homebridge-platform-insteonlocal
C:\Users\smart
`-- (empty)

[2018-09-07 05:33] shereefalkady commented on #23
@kuestess i installed it again .... it does install 0.3.9-2 - but still cant check version

C:\Users\smart>npm install -g homebridge-platform-insteonlocal
+ homebridge-platform-insteonlocal@0.3.9-2
updated 1 package in 28.078s

C:\Users\smart>npm ls homebridge-platform-insteonlocal
C:\Users\smart
`-- (empty)

[2018-09-07 05:40] shereefalkady commented on #23
here is the debug log.... i tried turning on many of the switches - none registered an event - but the 2477S (garage)  still work...

[2018-09-07 05:43] shereefalkady commented on #23
@kuestess here is the debug log.... i tried turning on many of the switches - none registered an event - but the 2477S (garage) still work...
not sure though why the garage registered a single on event 4 times....  (only happens with garag switch)

C:\Users\smart>homebridge -D
[2018-9-7 08:35:22] Loaded config.json with 0 accessories and 2 platforms.
[2018-9-7 08:35:22] ---
[2018-9-7 08:35:22] Loa

[2018-09-07 15:31] kuestess commented on #23
@shereefalkady Can you try changing your device IDs in your config to all caps rather than lower case letters?

[2018-09-07 17:17] shereefalkady commented on #23
@kuestess !!! Wow !! Tried one - now it works —- will try the rest ...

I’ll come back with full feedback as I’ve been extensively testing it

[2018-09-07 18:14] kuestess commented on #21
@sirfergy I set up my IOLincs so long ago, I honestly forgot that option was there.  Either way, the relay needs to be closed, so it was simpler to just send the on command.  I'll work on adding the off command so it will respect that option.

[2018-09-07 18:15] shereefalkady commented on #23
@kuestess Everything works perfectly now... except
1.turning on to X% from zero...
2.i cant seem to make scenes in homekit - takes tooooooooooo long to execute or Fails...

note: i have open/close modules on my window storm shutters - they work great through homebridge-platform-insteonlocal as "dimmers"  (but i dont want them to group with my lights- and i want the right icons - any chance to recl

[2018-09-08 10:51] shereefalkady commented on #23
@kuestess ...wait....update....  one problem with status....
1.if i set it from alexa - its fine...
2.if i hold down the insteon dimmer switch to desired setting, its fine
3.if i single tap the switch for it to go automatically to 100% it always registers as 1% on the app

[2018-09-08 12:29] shereefalkady commented on #23
@kuestess any chance we can direct communicate in any way?

[2018-09-09 15:35] kuestess commented on #20
@logname Published a new version that adds a 1 second delay to the status check for on commands from the Express server.  It seemed to work fine with my plugin dimmer modules - give it a try and see if that works for you.

[2018-09-09 15:58] kuestess commented on #23
@shereefalkady Can you post a log of homebridge in debug mode (homebridge -D) capturing a manual on tap on one of your switches?  I put a fix for the 1% in one of the recent updates so it should show correct status.  Regarding keypad buttons, they are already supported as status for scene devices - see the readme and the example config for how to set up in your config.  It doesn't support dimming

[2018-09-09 17:32] shereefalkady commented on #23
1.Regarding donations, certainly not expected at all, but I added a donate button on the main github page if you'd like to donate.

**----DONE :-)**

2.One thing that you might try is running homebridge and the plugin on the Hub Pro itself. Turns out, the Hub Pro is actually a Beagle board connected to an Insteon PLM. If you open up the Hub Pro you can boot the beagle board into linux, install hom

[2018-09-09 17:36] shereefalkady commented on #23
quick urgent question, as i will try to try the hub pro now... so i set the hub pro config file to its own ip?

[2018-09-09 17:57] rasod commented on #23
@shereefalkady yes the Hub Pro would be a completely separate homebridge install.

You will need to link the devices to the hub using the set button or the script I wrote here:
https://github.com/kuestess/homebridge-platform-insteonlocal/issues/13#issuecomment-397778683
If the device is not linked to the hub you will not receive events from it.
Also you will not get events if a device is controlle

[2018-09-09 18:01] kuestess commented on #23
Thanks @rasod!  @shereefalkady Booting the SD card on the Hub Pro doesn't overwrite anything on the hub.  You can remove the card and reboot and the Hub Pro will be just as before.  To update status of devices in a scene, you can add `groupMembers:` to your scene config and populate the value with acomma-delimited list of Insteon IDs that are part of the group/scene.  That will force the plugin to

[2018-09-09 18:59] shereefalkady commented on #13
@rasod thank you so much -- it would have been a workout to beep each one manually TWICE....
will keep you updated.... just got my sd card will try the mission now

[2018-09-09 19:02] shereefalkady commented on #23
@rasod  "Also you will not get events if a device is controlled by another device - or at-least that is my experience......"  so if i want to use alexa as well i must use the 2245?

[2018-09-09 19:04] shereefalkady commented on #23
i can set up several 2245s -- just have ot figure out howto get alexa on eseveral insteon accounts.... maybe create 5 different alexa accounts for each hub then have all accounts invite ONE primary alexa accountto have them all....

or is there a way to use alexa with the 2243 set up?

[2018-09-09 19:09] shereefalkady commented on #23
@kuestess @rasod which debian image for the beagle board?

[2018-09-09 19:15] kuestess commented on #23
@shereefalkady I used this image: [http://debian.beagleboard.org/images/bone-debian-9.4-iot-armhf-2018-06-17-4gb.img.xz](http://debian.beagleboard.org/images/bone-debian-9.4-iot-armhf-2018-06-17-4gb.img.xz) and used [Etcher](https://etcher.io/) to write it to the card.  You will still need the 2245 for Alexa control, or you might try this plugin: [homebridge-alexa](https://github.com/NorthernMan54

[2018-09-09 19:34] rasod commented on #23
@shereefalkady The HubPro is very responsive with most commands and status updates being instantaneous. However the main downside is, like I said, if a device is controlled via a different device (another linked device or Alexa for example) those events are not seen by the hub. So I have polling on some devices set to 5 minutes.

Also because of the queuing system the home-controller library uses

[2018-09-09 19:47] shereefalkady commented on #23
@kuestess not sure about wither of these steps: can i get a quick how?

Change the password!
Enable the serial port by editing /boot/uEnv.txt

[2018-09-09 19:49] shereefalkady commented on #23
@rasod yes when i had hub pro native i had to put no more than 12 devices per hub to get it to work perfectly and never give me the no response... what about that alexa plugin?  that would work fine if what it does is give alexa control over the same device via homebridge

[2018-09-09 19:51] shereefalkady commented on #23
@kuestess stuck on step 7.Enable the serial port by editing /boot/uEnv.txt

[2018-09-09 19:54] rasod commented on #23
sudo nano /boot/uEnv.txt

![screen shot 2018-09-09 at 3 53 59 pm](https://user-images.githubusercontent.com/7154349/45268336-b14c1b00-b448-11e8-9433-eb57f2615b9d.png)

[2018-09-09 19:59] kuestess commented on #23
@rasod have you tried creating the All Off scene in Insteon and triggering that way?

[2018-09-09 20:01] shereefalkady commented on #23
@kuestess --- BY THE WAY!!! very good tip!!!  i did electrocute myself - lol

[2018-09-09 20:06] shereefalkady commented on #23
@kuestess @rasod i must have done something wrong... i cant ssh into the beagle anymore will try flashing it again ?? after i rebooted - powered down and powered back while pressing s2 - i now cant connect... what did i do wrong?

[2018-09-09 20:09] kuestess commented on #23
@shereefalkady Did the IP address change on reboot? (unless you have it reserved)

[2018-09-09 20:10] shereefalkady commented on #23
no it didnt i scanned
notsure how long to press the s2 for?  the LED lights up immediately

[2018-09-09 20:12] kuestess commented on #23
Shouldn't have to hold S2 very long.  Try rebooting again and re-image if that doesn't work.

[2018-09-09 20:13] shereefalkady commented on #23
@kuestess tried rebooting it again - now it is not even registering on the network

[2018-09-09 20:14] shereefalkady commented on #23
@kuestess wanna take a look through teamviewer?

[2018-09-09 20:17] kuestess commented on #23
@shereefalkady I would try burning the SD card again.  If its not grabbing an IP then it sounds like it isn't starting up.  Give that a shot.

[2018-09-09 20:17] shereefalkady commented on #23
yeah seems like theres something wrong with the sd card - my comp doesnt see it anymore

[2018-09-09 20:18] rasod commented on #23
I had this happen to me a couple of times too. Couldn’t figure out why and to reimagine the SD.

[2018-09-09 20:50] shereefalkady commented on #23
@rasod @kuestess --- same --- flashing again

[2018-09-09 20:51] shereefalkady commented on #23
after i update the /boot/uEnv.txt and exit -- it doesnt come back

[2018-09-09 20:51] rasod commented on #23
Send a screenshot of the uDev file next time

[2018-09-09 20:53] shereefalkady commented on #23
then i: exit - save - y- enter filename

power off - reboot

[2018-09-09 23:26] kuestess commented on #23
@shereefalkady That looks correct.  Ctrl-x, y, then enter to save it.

[2018-09-10 01:06] kuestess commented on #21
@sirfergy 0.3.10 adds logic that should respect the check sensor setting.  Give it a try and let me know if you have issues.

[2018-09-10 03:40] shereefalkady commented on #23
That’s exactly what I did - 4/5 times - never even registers on network after I do that and restart

[2018-09-10 04:35] rcombs opened #24 "Garage door emits "closed" event when restarting homebridge"
I'm not sure how easy this would be to work around, but currently whenever I restart homebridge, I get a notification as if my garage door had just been closed, regardless of the previous state. I think the way HAP-Nodejs intends you to handle this is by binding the `get` event on the characteristic, rather than by emitting an update on startup.

[2018-09-10 06:09] shereefalkady commented on #23
@kuestess @rasod FINALLY!!!! 12 hours later worked on the 12th attempt :-)

[2018-09-10 07:41] rcombs opened #25 "Support PLMs at arbitrary device paths"
Currently, I have Homebridge running in Docker with my USB PLM exposed to the container at `/dev/ttyS4`, configured with the model set to `2243`, but that's a pretty obscure requirement. It'd be preferable to have a model `PLM` with a configuration option for the path to the serial device, or an object with a `serialNumber`, `productId`, or other parameters to search for in `SerialPort.list()`.

[2018-09-10 11:02] shereefalkady commented on #23
@kuestess @rasod ------- interesting:  same problem again...
so i ran it again installed homebridge, installed the plugin, then i disconnected it to move it... and now i cant see it again =...<

[2018-09-10 12:06] shereefalkady commented on #23
[9/10/2018, 12:03:06 PM] [Insteon Local Platform] Started Insteon Express server...
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::3000
    at Object.exports._errnoException (util.js:1020:11)
    at exports._exceptionWithHostPort (util.js:1043:20)
    at Server._listen2 (net.js:1277:14)
    at listen (net.js:1313:10)
    at Server.listen (net.js:1409:

[2018-09-10 12:43] rasod commented on #23
Looks like you have multiple HomeBridges running at the same time on the same device.

[2018-09-10 12:50] kuestess commented on #23
@shereefalkady Don't know if you've tried this, but one thing that may help stability/success rate is using the command `sudo reboot` to reboot (should boot from the card again) or `sudo shutdown` when you need to shutdown (give it a minute after that command).  SD cards are notoriously easy to corrupt when power gets yanked - using those commands will help make sure that it is done writing to the

[2018-09-10 14:45] shereefalkady commented on #23
Just installing insteonlocal and will try now - can i first just try it as a homebridge with the 2245? then populate it and try the 2243?

[2018-09-10 14:46] shereefalkady commented on #23
during insteonlocal install:

node-pre-gyp ERR! Tried to download(404): https://github.com/EmergingTechnologyAdvisors/node-serialport/releases/download/5.0.0/serialport-v5.0.0-node-v48-linux-arm.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for serialport@5.0.0 and node@6.13.0 (node-v48 ABI) (falling back to source compile with node-gyp)

[2018-09-10 14:47] shereefalkady commented on #23
@kuestess during insteonlocal install:

node-pre-gyp ERR! Tried to download(404): https://github.com/EmergingTechnologyAdvisors/node-serialport/releases/download/5.0.0/serialport-v5.0.0-node-v48-linux-arm.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for serialport@5.0.0 and node@6.13.0 (node-v48 ABI) (falling back to source compile with node-gyp)

[2018-09-10 14:57] shereefalkady commented on #23
@kuestess @rasod

![screenshot 2018-09-10 17 55 46](https://user-images.githubusercontent.com/33227062/45305418-e9c02780-b522-11e8-8839-7812401d02f4.png)

[2018-09-10 15:17] shereefalkady commented on #23
i am not sure i am doing the homebridge and insteonlocal install right...

do i need to do anything?? other that npm install hb and npm install il?

[2018-09-10 15:41] shereefalkady commented on #23
@kuestess @rasod excuse my question if it is stupid... but any chance you can upload me a working image that i'd only need to change config.json?

[2018-09-10 16:06] kuestess commented on #23
@shereefalkady Here are a couple things to try.  First, I would add `"use_express": false` to your config.  That will make sure that there isn't a conflict with port 3000 in case something else is running there (although its likely just multiple copies of the plugin running).  Then install the plugin with `npm -g install homebridge-platform-insteonlocal --unsafe-perm` (you may need to put sudo in

[2018-09-10 16:28] shereefalkady commented on #23
@kuestess
1.Then install the plugin with npm -g install homebridge-platform-insteonlocal --unsafe-perm
I did

2."use_express": false it is :  "use_express": "false"

[2018-09-10 16:28] shereefalkady commented on #23
@kuestess BY the way... i was only able to get beagle 9.3 to work - couldnt get 9.4 to work -- that is what failed everytime

[2018-09-10 16:30] shereefalkady commented on #23
do i need to do anything before the homebridge install ...
sudo apt-get install libavahi-compat-libdnssd-dev <--- do i need to do that?

[2018-09-10 16:43] shereefalkady commented on #23
@kuestess QUICK QUESTION... what do i set as user and pass in my config if i am pointing to the 2243 its on?

[2018-09-10 16:45] shereefalkady commented on #23
@kuestess this is theconfig that keeps failing:

{
"bridge": {"name": "Homebridge","username": "CC:22:3D:E3:CE:30","port": 59564,"pin": "031-45-156"},

"platforms":

[

{
"platform": "InsteonLocal",
"name": "Insteon Local Platform",
"user": "Shereef",
"pass": "2511002",
"host": "192.168.1.40",
"port": "25105",
"model": "2245",
"refresh": "0",
"use_express": "false",

"devices":
	[

	{"name": "Side

[2018-09-10 16:46] shereefalkady commented on #23
@kuestess this is the one i am about to try - but not sure about user and pass:

{
"bridge": {"name": "Homebridge","username": "CC:22:3D:E3:CE:99","port": 59569,"pin": "031-45-199"},

"platforms":

[

{
"platform": "InsteonLocal",
"name": "Insteon Local Platform",
"user": "Shereef",
"pass": "2511002",
"host": "192.168.1.67",
"port": "25105",
"model": "2243",
"refresh": "0",
"use_express": "false",

[2018-09-10 16:49] rasod commented on #23
@shereefalkady for the 2243 you don't need the user and password. It will communicate directly with the modem inside the hub

[2018-09-10 16:51] shereefalkady commented on #23
@kuestess  this is what i get

![screenshot 2018-09-10 19 50 22](https://user-images.githubusercontent.com/33227062/45311781-d87f1700-b532-11e8-95d9-4b792707312c.png)

[2018-09-10 16:53] rasod commented on #23
there must be something else running on the port. Try

```netstat -apn|grep 3000```

to see what it is

[2018-09-10 17:15] kuestess commented on #23
Hmmm... wonder if it's not honoring the false for use_express.  Try adding `"server_port": "3001"` to your config - that will change the Express server port and fix the port conflict.

[2018-09-10 17:28] shereefalkady commented on #23
@kuestess seems like it does not... changing the port fixed it

[2018-09-10 17:29] shereefalkady commented on #23
@rasod
![screenshot 2018-09-10 20 27 30](https://user-images.githubusercontent.com/33227062/45313658-2c402f00-b538-11e8-9bbf-e78177b641ab.png)

[2018-09-10 17:36] shereefalkady commented on #23
@rasod so now its time for this:
You will need to link the devices to the hub using the set button or the script I wrote here:
#13 (comment)

[2018-09-10 17:37] logname commented on #20
Issue resolved

[2018-09-10 17:37] #20 closed

[2018-09-10 17:37] shereefalkady commented on #23
@rasod   ummm... sorryy..... not sure where or how to run this any advice?

var Insteon = require('home-controller').Insteon
var hub = new Insteon();

hub.serial('/dev/ttyS4',{baudRate:19200}, function(){
    console.log('Connected!');
    init();
});

function init(){
    console.log("Creating Links -- Here Comes The Beeps");
    hub.link(['30.69.FF','30.68.EE'], function(error, link) {})
}

[2018-09-10 17:42] shereefalkady commented on #23
@kuestess actually - when i try to connect to the 2243 i get this:

![screenshot 2018-09-10 20 39 33](https://user-images.githubusercontent.com/33227062/45314281-f8660900-b539-11e8-9f9a-a7e6f44ce247.png)

[2018-09-10 17:44] kuestess commented on #23
@shereefalkady It looks like the serialport package didn't install correctly.  You probably need to retry `sudo npm -g install homebridge-platform-insteonlocal --unsafe-perm`.

[2018-09-10 17:49] kuestess commented on #23
@shereefalkady For @rasod script above, on the beaglebone type `nano link.js`.  That will create a blank document - paste the above script into that window.  Before you save and exit, change the '30.69.FF','30.68.EE' to the insteon IDs that you want to link to the hub.  You can put as many as you want inside the brackets.  Once you save and exit, type `node link.js` and the script will run.

[2018-09-10 17:54] shereefalkady commented on #23
@kuestess do i need to install node.js before homebridge and insteonlocal?
https://mmod.co/node-on-debian/

[2018-09-10 17:55] shereefalkady commented on #23
@kuestess could it be the 9.3 image  flash

[2018-09-10 17:59] kuestess commented on #23
@shereefalkady If the plugin is running then you should have node already installed.  Type `node -v` and let me know what version you have installed.

[2018-09-10 18:27] kuestess commented on #23
@shereefalkady Yes.  Just saying that there wasn't a pre-compiled binary for it to install.  Now it should download the source and compile it on the Hub.  You may get some warnings, but those are OK - errors during the compile are a problem.

[2018-09-10 18:28] shereefalkady commented on #23
HAPPY UPDATE:!!  this worked: https://mmod.co/node-on-debian/

[2018-09-10 18:29] shereefalkady commented on #23
@rasod @kuestess will now try to populate it

[2018-09-10 18:33] shereefalkady commented on #23
@kuestess @rasod

![screenshot 2018-09-10 21 32 35](https://user-images.githubusercontent.com/33227062/45316921-23a02680-b541-11e8-9a6d-8882a50c6ffa.png)

[2018-09-10 18:36] rasod commented on #23
Move and run the file from the same folder as the plugin.

/usr/lib/node_modules/homebridge-platform-insteonlocal

[2018-09-10 18:38] shereefalkady commented on #23
@rasod how do i move it there?
then how do i run it there - lol

[2018-09-10 18:42] rasod commented on #23
mv link.js /usr/lib/node_modules/homebridge-platform-insteonplatform

DEBUG=home-controller:insteon node link.js

[2018-09-10 18:47] shereefalkady commented on #23
@rasod  ![screenshot 2018-09-10 21 45 38](https://user-images.githubusercontent.com/33227062/45317606-2865da00-b543-11e8-9148-65ce941c6ad7.png)

[2018-09-10 18:51] rasod commented on #23
@shereefalkady you need to switch to the directory where the file is now
cd /usr/lib/node_modules/homebridge-platform-insteonplatform

[2018-09-10 18:54] shereefalkady commented on #23
@rasod IMP... i did this: mv link.js /usr/lib/node_modules/homebridge-platform-insteonplatform

but its insteonLOCAL not insteonPLATFORM right?  where is that file now

[2018-09-10 18:57] shereefalkady commented on #23
@rasod THANK YOU!!!  understood the logic - just created a new file there - worked now :-))))

[2018-09-10 19:00] shereefalkady commented on #23
@rasod i am now just looking at a line that says here come the beeps... i heard a beep (doing only one device) - but nothing is changings - just: "Creating Links -- Here Comes The Beeps"

[2018-09-10 19:17] shereefalkady commented on #23
@rasod - irebooted - and now i get this

![screenshot 2018-09-10 22 16 19](https://user-images.githubusercontent.com/33227062/45318982-3584c800-b547-11e8-84b1-7b527b21ee35.png)

[2018-09-10 19:27] rasod commented on #23
I get this error if it doesn't boot correctly to the SD - try again with the S2 button

[2018-09-10 21:41] shereefalkady commented on #23
@kuestess @rasod -- still trying -- still failing..... now from a fresh install even - i get this:
(node:2618) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejec        tion id: 1): Error: Error: Input/output error setting custom baud rate of 19200

[2018-09-10 21:52] shereefalkady commented on #23
**(node:858) UnhandledPromiseRejectionWarning: Error: Error: Input/output error setting custom baud rate of 19200
(node:858) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 1)
(node:858) [DEP0018] DeprecationWarning

[2018-09-10 21:53] awaspaas opened #26 "Comparing Hub Pro with 2245"
Sorry, this is not an issue but I'm curious if anybody has compared the standard 2245 with the flashed Hub Pro in terms of speed, responsiveness, multithreading, etc.? At what point is it worthwhile to abandon a 2245 for a flashed Hub Pro?

[2018-09-10 22:10] rasod commented on #26
For Me I use the Flashed HubPro as my main homebridge server running all my HB plugins.

As for responsiveness it is much faster then HTTP to a 2245 because it has a constant connection to the Insteon modem. Some users have no problem using the 2245 with polling as this is how most other Insteon plugins work (HomeAssistant, OpenHAB). However if you want instant updates keeping the connection open

[2018-09-10 23:10] kuestess commented on #23
@shereefalkady Couple things to try - starting from a fresh SD card, run `sudo apt-get update` and then `sudo apt-get upgrade` to update your image to the latest package versions.  From there, I recommend you next install Node Version Manager (nvm) - follow the directions at [https://github.com/creationix/nvm/blob/master/README.md](https://github.com/creationix/nvm/blob/master/README.md).  This wi

[2018-09-10 23:26] rasod commented on #23
@shereefalkady I just got that same problem because I lost power. For me I have to boot while holding down the S2 button. If I just boot without holding the button - it will boot using the SD card but won't enable the serial port.

You can check if the port is enabled by checking the folder /dev . you should see ttyO4 -> ttyS4 as one of the devices.

[2018-09-11 16:09] shereefalkady commented on #23
@kuestess @rasod hey guys.... i am back --- i had to sleep after being up for 2 days straight trying like a madman.... i will try your suggestions with the 2243 and update you....

as for my current setup - homebridge with 2245 - the 1% problem -- following is a screenshot of me turning off and on a dimmer light... OK.... i guess no screenshot.... (without any other events happening) everytime i t

[2018-09-11 16:12] shereefalkady commented on #23
@kuestess i was trying to turn on and off "Front Room"

Got event for Front Room
[2018-9-11 19:04:01] [Insteon Local Platform] Got off event for Front Room
[2018-9-11 19:04:01] [Insteon Local Platform] Found 1 accessories matching 44F917
[2018-9-11 19:04:01] [Insteon Local Platform] Hub command: {"standard":{"type":"50","id":"44F917","gatewayId":"455DAA","extended":false,"messageType":2,"hopsLeft"

[2018-09-11 19:10] shereefalkady commented on #23
@rasod for the 2243 and the serial and the s2 button - i think that was it
i will now try to run your scrypt on one device

[2018-09-11 19:15] shereefalkady commented on #13
@rasod again they beeped ... but now i am just staring at a line that says

"Creating Links -- Here Comes The Beeps"

what am i supposed to do now

[2018-09-11 19:16] shereefalkady commented on #23
@rasod again they beeped ... but now i am just staring at a line that says

"Creating Links -- Here Comes The Beeps"

what am i supposed to do now

[2018-09-11 19:18] kuestess commented on #23
@shereefalkady If you heard beeps on the hub and the device, then you’re done. Add that device to your config and see if you can control it.

[2018-09-11 19:26] shereefalkady commented on #23
@rasod @kuestess IMPORTANT QUESTION... how many devices can i run with that scrypt?  is 150 ok?

[2018-09-11 19:26] shereefalkady commented on #23
or should i use 3 hubs and put 50 devices on each

[2018-09-11 19:27] shereefalkady commented on #23
@kuestess 2243 device limit?

[2018-09-11 19:28] shereefalkady commented on #23
@kuestess @rasod after i fully populate it - i will proceed to try the alexa plugin

[2018-09-11 19:28] kuestess commented on #23
@shereefalkady I haven’t added all of my devices to my 2243, although it is significantly faster than the 2245. I would try them in groups of 10 and test response.

[2018-09-11 19:58] shereefalkady commented on #23
@kuestess well - populated it - - - but response is much better on the 2245, even the status...when i turn on a light on the 2243 - it goes on to 0% then back to off:

[9/11/2018, 7:56:54 PM] [Insteon Local Platform] Got on event for entrance
[9/11/2018, 7:56:54 PM] [Insteon Local Platform] Getting status for entrance
[9/11/2018, 7:57:00 PM] [Insteon Local Platform] Error getting power state of Ce

[2018-09-11 20:29] shereefalkady commented on #23
@kuestess the sensors arent reporting status to my 2243... they show up in the app - but no change in status whatsoever - they are just all closed

[2018-09-11 22:43] kuestess commented on #23
@shereefalkady All of the sensors are battery powered and are typically asleep, so the script won't likely work for them as they have to be awake to link.  Unfortunately there is no way to programatically wake them, so you will have to link via the push button method in the appropriate manual.  Thanks for posting the log above - will look into the 1% issue.

[2018-09-12 01:10] rasod commented on #23
@shereefalkady 150 devices! OMG I would have gouged my eyes out if i had to deal with 150 Insteon devices. It should work as long as you don't try to control/poll all of them at once. That is a lot of objects node.js is going to have to juggle it may be more of a memory problem. But I have seen HB installs with more then that. Only one way to find out.

@kuestess Because i'm using the HubPro i'm n

[2018-09-12 01:15] kuestess commented on #24
@rcombs You are correct that HAP-NodeJS provides a `get` event, however binding that to characteristics (at least for the Insteon plugin) doesn't provide a good user experience and creates a lot of Insteon traffic.  I did exactly that in some early versions (maybe not even released) and with a reasonable number of devices the Home app spends a lot of time displaying 'Updating' every time you open

[2018-09-12 01:17] rcombs commented on #24
Could you cache the state in persistent data, and only set it during startup if it's changed?

[2018-09-12 05:03] rcombs opened #27 "Error in logging"
[code]
Easily fixed by moving the debug line into the following block.

[2018-09-12 09:30] shereefalkady commented on #23
@kuestess node v9 always gives me this error:
(node:2668) UnhandledPromiseRejectionWarning: Error: Error: Input/output error setting custom baud rate of 19200
(node:2668) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection

[2018-09-12 09:30] shereefalkady commented on #23
@kuestess node v6 works though

[2018-09-12 10:38] shereefalkady commented on #23
@kuestess so the 2243 is unusable... the 2245 is much faster - works flawlessly, UNTIL you actually use a manual switch.... if i keep using homekit its great - but once i start using the manual switches on the walls... it crashes

[2018-09-12 16:16] kuestess commented on #23
@shereefalkady Try updating node to 10.10 and then updating the plugin. I updated the package.json to update dependencies to more recent versions. Can you post output of the crash?

[2018-09-12 17:20] shereefalkady commented on #23
How do I update to node 10... I can only update to 9 and when I do it gives me the above posted baud rate error

[2018-09-13 05:16] shereefalkady commented on #23
please forgive me, what exactly are you looking for here: "Can you post output of the crash?"

is there a way to get homebridge to autolaunch on the debian 2243?  i have to log in and activate it if it gets unplugged

[2018-09-13 10:16] shereefalkady commented on #23
@kuestess is there a way to get homebridge to autolaunch on the debian 2243? i have to log in and activate it if it gets unplugged

[9/13/2018, 9:52:13 AM] [Insteon Local Platform] Setting level of SouthSide to 100%
[9/13/2018, 9:52:20 AM] [Insteon Local Platform] Error setting power state of SouthSide to on
(node:1105) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1

[2018-09-13 12:11] shereefalkady commented on #23
@kuestess updated to 10.10 turns out my nom and node were out of date -- anyways...

still not getting the correct status at manual switch on...

and very nice - I tried setting it to 33% from completely off - and it succeeded :-))) however stopped responding after that:

[9/13/2018, 12:06:19 PM] [Insteon Local Platform] Setting power state of entrance to on
[9/13/2018, 12:06:19 PM] [Insteon Local

[2018-09-13 15:42] kuestess commented on #23
@shereefalkady I think it stops responding because of a small change that I made in the latest release.  My computer at home is not responding for some reason, but I will correct it later today.  The response in dimming from off to 33% is part of that change too, so hopefully a better experience.  Seems like the 2243 is running more reliably?

[2018-09-13 16:15] shereefalkady commented on #23
@kuestess I’m honestly still on the 2245 as a main system through homebridge while I build this ... I like the instant built in Insteon scenes ...

both 2245 and 2243 give wrong status when used manually (some manual moves are skipped altogether) - will try to set up the 2245 homebridge on a Mac ... but great when used with Alexa or Siri

[2018-09-13 16:35] shereefalkady commented on #23
@kuestess ... trying to add my first keypad on 2243... does 2243 support scenes and keypads ?

[2018-09-13 16:44] shereefalkady commented on #23
@kuestess is there something wrong with the following its not working.... the button C is not working Main button A is fine...  4178B8 is a module with no other switches on the wall except keypad button C on 457945

{ "name": "roofStairs", "deviceID" : "457945","keypadbtn": "A", "dimmable" : "yes", "deviceType" : "dimmer"} ,
{ "name": "GuestRoom", "deviceID" : "4178B8", "dimmable" : "yes", "device

[2018-09-13 17:12] kuestess commented on #23
@shereefalkady That looks like it should work - which part isn't working (control, status, etc)?  Is the keypad a 6-button or 8-button?  I haven't had a chance to get to the open/close modules yet, but should this weekend.

[2018-09-13 17:14] shereefalkady commented on #23
@kuestess it’s an 8 button worked on the 2245 ... with the 2243 if I try to turn it on or off from HomeKit - the entire system stops responding

[2018-09-13 17:18] shereefalkady commented on #23
@kuestess DO I need to pair button C specifically ? I ran @rasod link just with the keypad id no buttons

[2018-09-13 17:18] kuestess commented on #23
@shereefalkady If you built the scene on the 2245, then the 2243 won't know about that group.  Unfortunately the only way to get it to work on the 2243 is to build the scene on the 2243.  I think that you can do that via the Insteon+ app.  I'll see if I can cook up a script to create scenes programatically.

[2018-09-13 17:39] shereefalkady commented on #23
The Insteon+ app sadly cant

[2018-09-13 17:53] shereefalkady commented on #23
@kuestess also about homebridge automatically starting on 2243?

[2018-09-13 18:04] kuestess commented on #23
@shereefalkady Systemd is your friend :-).  Try this guide: [https://timleland.com/setup-homebridge-to-start-on-bootup/](https://timleland.com/setup-homebridge-to-start-on-bootup/)

[2018-09-13 23:46] rasod opened #28 "1% Debugging - Event Listener"
@kuestess i'm looking into why we are seeing dimmers turn on to 1% and noticed you are only relying on the event listener now and removed the built in home-controller events?

Curious why you stopped using those events?

[2018-09-13 23:52] kuestess commented on #28
@rasod I did some testing and found them to be somewhat unreliable, so I replicated that functionality in the event listener.  I think that the built-in events were the source of some of the (previous) 1% level dimmers as some of those events return the dimmer group in command 2 rather than the level.  In the revised event listener, in that case I call the checkStatus() function to get the proper

[2018-09-14 00:12] rasod commented on #28
@kuestess I suspect that checking the status after you get the on event is introducing the 1% because of ramp rates. If the device has a ramp rate other then instant the status is returning the level during the ramp. Also Seems to introduce much more Insteon traffic as you get an event and then go check the status.

Also the event listener is not catching faston/off commands but one thing at a tim

[2018-09-14 00:30] rasod commented on #28
The way I had fixed the 0%/1% in the last version was to assume an on command missing a level was 100%

[code]

[2018-09-14 01:00] rasod commented on #28
The more I look at the code and the Inteson traffic the more it’s clear the ramp rates and on levels are what is giving us the problems. HK doesn’t really have something along the same lines.

[2018-09-14 01:05] kuestess commented on #28
@rasod I think you're right.  It's fairly straightforward to add a slight delay on the status check in the event listener - I had to do this for dimmer modules in the Express server (for Habitat users) otherwise they would end up with a mid-ramp status.

[2018-09-14 01:36] kuestess commented on #28
@rasod Just published a version that adds a delay to the status check - see if that helps.

[2018-09-14 01:38] kuestess commented on #23
@shereefalkady New version published with support for open/close modules.  Just change deviceType to shades or blinds and it should show as such in the Home app.  It seemed to work fine in my testing (using a dimmer), but I don't have an open/close module so let me know if you run into issues.

[2018-09-14 01:43] shereefalkady commented on #23
@kuestess - just a note —- were there updates over the last couple of days that make the in command slower —- 2 days ago I’d click them all on and immediately they turn on instantly — now I see that “loading” wheel when I turn them on... off command is still very fast

[2018-09-14 01:46] shereefalkady commented on #23
@kuestess amazing !!! I will try the open close now and let you know

[2018-09-14 02:00] shereefalkady commented on #23
@kuestess - it says unsupported device - what’s the best way for me to update insteonlocal ...

[2018-09-14 02:04] shereefalkady commented on #23
@kuestess ... open close Shutter works perfectly !! Will try to post you s vid soon :-)

[2018-09-14 03:47] shereefalkady commented on #23
working with the 2245 -- it stops responding a lot now... like in below:  question... why would it get events for [9/14/2018, 6:43:28 AM] [Insteon Local Platform] Got event for devices no one is using --- every time I change front room - dog spot and roof back always sense an event....

[9/14/2018, 6:43:28 AM] [Insteon Local Platform] Got fast on event for Front Room
[9/14/2018, 6:43:28 AM] [Inste

[2018-09-14 04:18] shereefalkady commented on #23
keeps crashing.... this is me trying to manually turn on and off entrance and front room

[9/14/2018, 7:17:36 AM] [Insteon Local Platform] Got event for entrance
[9/14/2018, 7:17:36 AM] [Insteon Local Platform] Got on event for entrance
[9/14/2018, 7:17:36 AM] [Insteon Local Platform] Getting status for entrance
timers.js:379
    throw new ERR_INVALID_CALLBACK();
    ^

TypeError [ERR_INVALID_CALL

[2018-09-14 05:02] shereefalkady commented on #23
@kuestess have you tried to use the slider... previously when I used the slider I would see the light dim and brighten in real time... this time when I used the slider I had to wait two minutes - literally - for it to perform the function and become responsive again.... see details below:

[9/14/2018, 7:59:35 AM] [Insteon Local Platform] Setting power state of entrance to on
[9/14/2018, 7:59:38 AM

[2018-09-14 12:58] kuestess commented on #23
@shereefalkady Published an update this morning that should fix the callback error above (sorry about that!).  I did make a change to the on command that added a very short (800ms) delay so that when dimming to a level from off, it goes straight to that level and not jump to 100% and then to the target level.  Homekit loves to send an on command along with the level command - adding a slight delay

[2018-09-14 14:35] shereefalkady commented on #23
@kuestess ... I give up - I want high end ... so this is where I’m at now... can I use the 2245 or the 2243 as a PLM with indigo or isy...
Thing is the PLMs don’t work in my country ... I found a way to use the 2245 as a PLM with homeseer... but I’d rather use indigo or isy

[2018-09-14 14:38] shereefalkady commented on #23
@kuestess actually it’s not just that - the 2245 refuses to work now - I have 12 of them as paper weights ... the light just doesn’t go green —- even though the first 2245 I bought stillowrks

[2018-09-14 18:35] kuestess commented on #23
@shereefalkady There are alot of events on the Insteon network, even when devices aren't in use (especially with the number of devices you have :-).  Some of the ones that show up in the log you posted above are a result of a change to show all messages on the Insteon network (to help debug) rather than just the messages for devices in your config.  It doesn't do anything for those devices other t

[2018-09-14 19:30] shereefalkady commented on #23
@kuestess problem with the 2243 is that is doesn’t have keypads - and that we can’t make scenes in HomeKit ...
my personal 2245 is running perfect - but I’m also a system installer the last 12 2245 Insteon hubs brand new unused straight out oof the box are red — I managed to use a 2245 as a PLM for homeseer - homeseer direct response is great  but HomeKit response is horrible ...

[2018-09-15 07:40] shereefalkady commented on #23
@kuestess - also my switches have been linked and unlinked and forgotten to be unlinked from so many different devices and hubs do you think that affects anything ?

If cost was no object and I wanted the best controller possible for my Insteon switches to work manually, with Alexa, and with Siri What is my best option ?

[2018-09-15 13:54] rasod commented on #23
@shereefalkady having devices linked to devices that no longer exist can degrade performance as the devices try to "talk" to devices that are no longer available. You would have to factory reset the devices.

I would say for Alexa your best best is to use the official support with a 2245. For HK besides community attempt like this plugin. You could try Indigo for the Mac https://www.indigodomo.com

[2018-09-15 14:48] kuestess commented on #23
@shereefalkady Yes, what @rasod said!  Insteon doesn't make it easy to implement homekit, and until they provide a better API or some sort of more modern bridge the best we can do is work around it.  I have heard good things about ISY but that requires a USB PLM and I'm not sure if there is good homekit support.

I had the same problem as you with dead/half links from changing hubs.  Here's a scri

[2018-09-15 15:55] shereefalkady commented on #23
@rasod @kuestess I found an amazing solution.... let me explain my situation....
I install Insteon systems... and this year
1.the 2243 got discontinued and
2. all the 2245s I order (more than 15 now) just won't give me a green light....
so my business kind of stopped...

however that was the best thing that ever happened to me... I discovered home bridge and got the whole other half of my house on

[2018-09-15 16:08] rasod opened #29 "Unlinking Half Links"
@kuestess was trying out the unlinking script you posted to https://github.com/kuestess/homebridge-platform-insteonlocal/issues/23#issuecomment-421581480 When I run it is saying it deleted the links. If I run it a second time is says it if going to delete the same links. Am I missing something?

[code]

[2018-09-15 16:26] rasod commented on #29
[code]

[2018-09-15 16:33] rasod commented on #23
@shereefalkady Ya Homeseer was something I wanted to try out too. Now my 2245 died completely last night - supposedly a known problem. They will send you a new one even out of warranty if you pay for shipping $40 for me. INSTEEEEEOOOOOON!!!!

[2018-09-15 17:03] scourchesne commented on #8
@kuestess Quick report after some tests with 3.10
We are almost there !
1) The change to home-controller index.js for the timeout was overwritten, so I put it back after update to 3.10. That solved the timeout issue in homekit as we already know.
2) Controls (Power on, off and scene) works perfectly from Homekit (Home app) !
3) Manual Power ON :  Don't work for Dimmer and Keypad.  (For Dimmer it g

[2018-09-15 17:30] kuestess commented on #29
@rasod Looks like the command is queued but never runs.  If you have the plugin running, try stopping it temporarily while you run this script.  If that doesn't work, then comment out the hub.close() and process.exit() lines - that should give it time to complete the command.

[2018-09-15 17:57] shereefalkady commented on #23
@rasod I didn’t even care for a refund I just wanted a working 2245 ... if you run it like this through homeseer - next time it dies homeseer updates all the links for you by itself and reprogram the interface and devices ... great program I must say ...
Insteon have great hardware just terrible software .. to be able to use Insteon hardware with 3rd party software is looking like a big improvemen

[2018-09-15 18:43] kuestess commented on #23
@rasod @shereefalkady Check out this link - they will repair/replace for free: [https://forum.insteon.com/forum/main-category/insteon-products/insteon-hub/104943-how-to-proceed-with-repair-replacement-of-a-hub-that-is-no-longer-powering-on](https://forum.insteon.com/forum/main-category/insteon-products/insteon-hub/104943-how-to-proceed-with-repair-replacement-of-a-hub-that-is-no-longer-powering-on

[2018-09-15 19:08] shereefalkady commented on #23
@kuestess - not sure you understand - all the replacements I keep getting are for some reason not turning greeen

[2018-09-15 20:56] shereefalkady commented on #23
@rasod nope they all power on, they just stick on the red light (luckily now I use them as PLMs)

[2018-09-17 02:02] kuestess commented on #25
@rcombs Just published an update that should allow you to use any device path.  Just specify PLM as your model and set host in your config to the device path you want to use.  I don't have a PLM, so appreciate any testing that you can do.  Thanks!

[2018-09-18 01:39] kuestess commented on #19
Closing due to inactivity

[2018-09-18 01:39] #19 closed

[2018-09-18 01:42] kuestess commented on #8
@scourchesne Thanks for the feedback!  I've opened an issue for home-controller so that fix will persist updates, but haven't gotten any response yet.  Can you post some logs capturing 3 and 4 above?

[2018-09-19 05:37] shereefalkady commented on #28
@rasod @kuestess keep up the good work guys.... even though i have my main system on homeseer (amazing configurations options - such as set a timed event with primary conditions and follow up conditional if thens for more actions)

however i am still using insteonlocal for my window shutter @kuestess thank you so much.... if you guys want me to test anything i have every single device type

[2018-09-19 05:38] shereefalkady commented on #29
@kuestess taking this to another level.... nice..... yes - these things are badly needed :-)

[2018-09-19 15:58] kuestess commented on #29
@shereefalkady My goal is to eventually wrap some UI around this and add these types of utilities.  I miss HouseLinc :-)

@rasod Did you get this script to work?

[2018-09-19 17:03] shereefalkady commented on #29
If it wasn’t for the 1% status I’d use it

[2018-09-19 17:55] kuestess commented on #28
@shereefalkady I'd really like to figure this issue out - bugging the crap out of me, but I don't seem to have it.  Can you add back one of your dimmers and run homebridge with the command `DEBUG=home-controller homebridge -D` and post the log from when you see a 1% status?  Thanks!

[2018-09-19 18:42] shereefalkady commented on #28
@kuestess --- observe the following - I have "resume dim" on this switch....
so, on resume it got the right status:
[9/19/2018, 6:37:11 PM] [Insteon Local Platform] Got event for NorthSide
[9/19/2018, 6:37:11 PM] [Insteon Local Platform] Got on event for NorthSide
[9/19/2018, 6:37:11 PM] [Insteon Local Platform] Getting status for NorthSide
[9/19/2018, 6:37:12 PM] [Insteon Local Platform] Getting

[2018-09-19 18:45] shereefalkady commented on #28
Wait its actually working now.... took 5 seconds but is working
- I only have the one switch on this bridge now

[9/19/2018, 6:43:16 PM] [Insteon Local Platform] Got event for NorthSide
[9/19/2018, 6:43:16 PM] [Insteon Local Platform] Got off event for NorthSide
[9/19/2018, 6:43:17 PM] [Insteon Local Platform] Getting status for NorthSide
[9/19/2018, 6:43:18 PM] [Insteon Local Platform] NorthSide

[2018-09-19 18:47] shereefalkady commented on #28
it is working -- but I only have the one switch - will try more

[9/19/2018, 6:37:25 PM] [Insteon Local Platform] Got event for NorthSide
[9/19/2018, 6:37:25 PM] [Insteon Local Platform] Got on event for NorthSide
[9/19/2018, 6:37:25 PM] [Insteon Local Platform] Getting status for NorthSide
[9/19/2018, 6:37:26 PM] [Insteon Local Platform] NorthSide is off at 0%
[9/19/2018, 6:37:26 PM] [Insteon Loc

[2018-09-19 19:02] shereefalkady commented on #28
@kuestess a double click on an Insteon switch is "fast on"if you can control that parameter and set the switch single click to fast on?

[2018-09-19 19:32] rasod commented on #29
@kuestess yes I managed to get the script to work. I don't have the code in front of me but I before exiting I check hub.queue.length (I think that is the var) to see if any commands are waiting to be executed.

Also one gotcha for me was that the IDs should be lower case as that is what appears in the link.

[2018-09-19 19:40] kuestess commented on #29
@rasod Good idea!  `hub.status` is another one that you can check (I believe its true if there is a request in process or in the queue).  The case thing is weird - seems to be different for different Hub models.  2245 returns upper case, 2242 (and apparently 2243) returns lower case.

[2018-09-19 19:46] rasod commented on #28
I haven't had a chance to dig in and see if the changes help. I'm currently running an older version of the plugin. I want to create a little test lab (ordered a UDB PLM) to test with since restarting homebridge on the beagle board takes so long with the two dozen devices I have. Hard to debug.

I did add the fast on and off events, you can merge if you want.
https://github.com/rasod/homebridge-pl

[2018-09-19 20:06] rasod commented on #13
Going to close this issue because I think we have gotten it to work pretty well.

[2018-09-19 20:06] #13 closed

[2018-09-21 01:50] jeffwhalen opened #30 "Insteon scenes crash homebridge"
Everytime I use an Insteon scene i added to homebridge In the home app it crashes Homebridge. Any idea what’s going on here?

[2018-09-21 03:32] kuestess commented on #30
@jeffwhalen Can you post your config and the crash output from homebridge in debug mode? (homebridge -D)

[2018-09-21 12:36] jeffwhalen commented on #30
Heres the Debug Report:

[9/21/2018, 7:35:05 AM] Homebridge is running on port 51826.
[9/21/2018, 7:35:05 AM] [Insteon Local Platform] Porch Light is off at 0%
[9/21/2018, 7:35:05 AM] [Insteon Local Platform] Game Room Lamp is off at 0%
[9/21/2018, 7:35:05 AM] [Insteon Local Platform] Game Room Fan Light is off at 0%
[9/21/2018, 7:35:06 AM] [Insteon Local Platform] Kitchen is off at 0%
[9/21/2018,

[2018-09-21 12:37] jeffwhalen commented on #30
Config:
{ "name": "All Off",
								  "deviceID" : "1DFA0B",
								  "six_btn" : "true",
								  "keypadbtn" : "D",
								  "groupID" : "27",
								  "deviceType" : "scene" }

[2018-09-22 17:00] jeffwhalen commented on #30
@kuestess I also noticed that the state of the scene isn't updated correctly even on home bridge reboot. If I changed "keypadbtn" to lower case "d" it correctly shows status on reboot. but don't update to the correct status after I trigger the scene in homebridge. Hope this helps. Thanks!

[2018-09-23 10:42] shereefalkady commented on #23
UPDATE:  after the last insteon hub update a few days ago all my hubs started working now... so i will now try to come back with all my insteon devices to insteon local - will let you know how it goes :-)

[2018-09-23 16:53] kuestess commented on #30
@jeffwhalen Do you also have that device configured as a switch/dimmer/lightbulb?  For some reason, the event listener is calling the `getStatus` function intended for those devices, rather than a scene.

[2018-09-24 01:16] kuestess commented on #30
@jeffwhalen It shouldn't cause an issue - let me do some testing on my end.

[2018-09-24 05:47] shereefalkady commented on #30
@jeffwhalen @kuestess - the B doesn’t have to be capital ?

[2018-09-24 12:04] jeffwhalen commented on #30
@shereefalkady @kuestess I thought the lower case letters worked, but now I’m not so sure. So I’ve changed them all back to capital.

[2018-09-24 15:50] microbmen opened #31 "stopped working: error setting and getting states"
For some reason my set up stopped working.  Did Insteon push out a firmware that broke something?

My config:
    {
      "platform": "InsteonLocal",
      "name": "Insteon Local Platform",
      "user": "xxxxxxxx",
      "pass": "xxxxxxxxx",
      "host": "192.168.1.251",
      "port": "25105",
      "model": "2245",
      "refresh": "60",
      "server_port": "3000",
      "devices": [
        {

[2018-09-24 16:12] microbmen commented on #31
i completely reinstalled it ... npm uninstall and then npm install -g ...

still get the error but now the log is slightly different.  I must have been a version or 2 old..

2018-9-24 12:10:53] [Insteon Local Platform] Setting level of Kitchen Table to 100%
[2018-9-24 12:10:53] [Insteon Local Platform] Setting power state of Kitchen Table to on
[2018-9-24 12:11:03] [Insteon Local Platform] Error s

[2018-09-24 16:34] kuestess commented on #31
@microbmen Do you get the message 'Connected to Insteon Model 2245 Hub...' in your log?  The output you list above looks alot like a connection error.  I had this (strangely) happen last week - to fix, I had to reboot the Hub a couple times (unplug/replug).  If that doesn't work, try a network reset on your Hub.

[2018-09-24 17:51] microbmen commented on #31
Ill try that tonight.  I don't see the 'connected to' event in my log.

[2018-09-25 02:12] rasod opened #32 "Polling on Startup"
I noticed on startup devices that are setup to poll get their status twice, once for initial startup and once during the polling. Makes startup take longer when you have many devices. Added a timeout to the initial polling command.

https://github.com/rasod/homebridge-platform-insteonlocal/commit/13247f7951c6e6db3c7546ad402f91c4707a5713

[2018-09-25 02:34] jeffwhalen commented on #30
@kuestess Ok, thanks I’ll give that a try tomorrow and let you know.

[2018-09-25 02:35] kuestess commented on #32
@rasod Good idea - added to the next release!  Thanks!

[2018-09-25 02:54] rasod opened #33 "Change to Status Callback"
I was experimenting with how to get HomeKit scenes to run without timing out when there is many devices to update.

Would you be open to changing how the setters work? Right now you have it coded to wait for home-controller to return the status of the command sent before updating HK.

I modified my build to separate the updating of HK from sending the command to the hub. This allows large scenes t

[2018-09-25 03:27] shereefalkady commented on #33
@rasod that works great with homeseer — she always said she did them - then homeseer proceeds to create the scene —- I don’t care about Siri response because homeseer is 100% reliable ... so if commands are reliable - why wait to hear she’s done them - even when she used to respond I wouldn’t wait for her confirmation

[2018-09-25 13:38] rasod commented on #33
@shereefalkady you have shares in Homeseer? 🙂 I'm a little less concerned with Siri more that my automations and scenes run correctly. For example when I leave home an automation runs to turn off all the lights and set the thermostat to away and enable the cameras. Because the Insteon Hub turns off one light at a time I'll get a message the that automation failed to run.

I know one option would b

[2018-09-25 13:47] kuestess commented on #33
@rasod  One of my original design goals was to make sure that the status was always correct based upon the horrible experience with the Hub Pro, which is why I set it up that way.  I can see now how that adds alot of overhead, especially with homekit scenes.  What if we sent the commanded level in the callback so homekit is satisfied and then called `getStatus` for the commanded device.  Creates a

[2018-09-28 01:17] kuestess commented on #33
@rasod Just uploaded a version with the callback changes to the dev branch - see if that works.  I made a few test scenes that seem to work.

[2018-10-01 00:36] rasod commented on #33
@kuestess thanks - I give it a spin for a few days.

[2018-10-03 08:31] shereefalkady opened #34 "Sensor Status"
@kuestess sorry i havent been following whats going on - been trying to get some of my clients houses back online... so im using insteonlocal on a 2243 for the shades and sensors... but every morning i wake up and all my sensors report open status even when they are closed... any ideas what i might be doing wrong?

[2018-10-03 15:48] kuestess commented on #34
@shereefalkady welcome back! :-)  I haven't changed anything with sensors lately, so nothing obvious why they would be showing open.  Battery powered devices are event-driven, so there's no way to poll status - any change would be a result of a message broadcast from the device itself.  One other thought is that the state is changing on homebridge restart.  Do you see in your logs anywhere where h

[2018-10-08 13:40] rasod commented on #33
@kuestess seems to be working well, haven't had scene fail, so looking good thanks. I personally would have put the HK call back outside the 800ms timeout - but that is because I hate seeing the little spinner when you control a light.

[2018-10-08 13:55] rasod commented on #28
@kuestess Been trying to figure out this 1% issue. I have two linked lights that always seem to get into that state. I can't figure out why. The Foyer and Hallway Light are linked to each other, turning one on/off turns the other on/off and vice versa. Can't understand why the status comes back as 1%. Do you know the difference between the gatewayIDs on the event? Should we ignore the ones that ar

[2018-10-08 14:14] shereefalkady commented on #28
@kuestess @rasod please tag me in anything about the 1%

[2018-10-08 19:57] kuestess commented on #28
@rasod @shereefalkady The meaning of 'gateway' changes depending upon the message type.  MessageType = 1 is an ack for a direct (device to device) message.  In that case, 'gateway' will be your hub device ID.  For an ack, it is poorly documented but the '06' in command1 is an ack and command2 should equal the device level.  MessageType = 6 is a group broadcast in which case the 'gateway' is the gr

[2018-10-09 23:20] rasod commented on #28
@kuestess @shereefalkady here are the logs from one of my lights.

[code]

[2018-10-10 16:08] kuestess commented on #28
@rasod Thanks for posting!  I think that the issue is with home-controller.  Looking through the log you posted above, it looks like home-controller is taking the group broadcast (messageType=6, command1=06) and using command2=01 (which would normally be the level in hex) to calculate the level, which is incorrect.  For a return message from the hub in response to a status request, messageType=1,

[2018-10-10 17:48] rasod commented on #28
@kuestess I think that makes sense. I can't be certain but it seems to only affect some devices? Is that because it affects the ones that are sending out group commands?
cc: @shereefalkady

[2018-10-10 19:18] kuestess commented on #28
@rasod If my theory isn't totally crazy then it should just impact devices that are linked in a multi-way config, ie part of a scene (sending group commands).  I don't have many set up that way and the ones that I do I've just added the scene.  Are all of your impacted devices part of a scene/group/multi-way switch setup?  I'll update the dev branch later today to add a generous delay to the statu

[2018-10-11 01:39] kuestess commented on #28
@rasod @shereefalkady New upload on the dev branch that increases the timeout to 5 sec - should be plenty of time to get the correct status.  See if that works.

[2018-10-11 03:49] rasod commented on #28
@kuestess That seems to have done the trick, I’ll try it out for a few days see if anything comes up.
cc: @shereefalkady

[2018-10-11 05:58] shereefalkady commented on #28
@kuestess @rasod much better - scenes are completing and properly updating now ...

I realized that with the software I’m using - when I increased: ‘response timeout’, ‘maximum hops’, and ‘command retries’ —- the big scenes worked better

[2018-10-14 13:04] jeffwhalen commented on #30
@kuestess I tried your recommendation of removal of "1DFA0b" and tried it again but I got the same outcome of it crashing homebridge. The only scenes i've been able to get to work for me is creating the scenes in the home kit app, the insteon scenes just aren't working for me.

[2018-10-26 19:22] jeffwhalen opened #36 "Feature Request: Keypadlinc scene buttons as separate switches"
I just bought some LIFX bulbs and I can't find a way to control these bulbs from a keypadlinc button. Not sure if this is even possible, but I thought that if the keypadlinc buttons could be exposed as separate switches than I could setup a homekit automation to watch for the keypadlinc button to turn on and off and therefore could control the LIFX bulbs since their homekit compatible.

How hard/p

[2018-10-27 15:10] kuestess commented on #30
@jeffwhalen Just pushed a patch that I think should fix your issue with scenes crashing home bridge.  Give it a try and let me know if that takes care of it.

[2018-10-27 15:13] kuestess commented on #36
@jeffwhalen Certainly possible to do.  If you have a mini remote, you can do this already with the existing code.  I don't think that it should take much to add this for keypads as well.  Let me give it a shot.

[2018-10-27 19:24] rcombs opened #37 "Provide express method to add links"
This would be convenient when adding new devices, to avoid having to run back and forth between the device and the PLM/bridge.

[2018-10-27 19:41] rcombs opened #38 "Add method to invert garage door status"
I have my I/O Linc connected to the close-limit sensor on my garage door, so its states are "on" (fully closed) and "off" (at all open). It'd be nice to be able to tell homebridge that.

Not sure if there's something I could improve here just by re-linking; all-link is weird.

[2018-10-27 20:04] jeffwhalen commented on #30
Just installed patch and gave it another try... but it crashed it again.

/usr/local/lib/node_modules/homebridge-platform-insteonlocal/index.js:919
    self.light.level(function(err,level) {
               ^

TypeError: Cannot read property 'level' of undefined
    at InsteonLocalAccessory.getStatus (/usr/local/lib/node_modules/homebridge-platform-insteonlocal/index.js:919:16)
    at Timeout._onTi

[2018-10-28 02:29] kuestess commented on #30
@jeffwhalen Do you have any device types other than dimmer/lightbulb/switch in that scene?

[2018-10-28 14:37] jeffwhalen commented on #30
No their all dimmers, lightbulbs, and switches.The KPL I'm calling the scene from is older, not sure if thats causing the problem?

[2018-10-30 01:37] kuestess commented on #30
@jeffwhalen Just uploaded a new version with some additional stuff to help debug - can you please run in debug mode (homebridge -D) and post the log from a crash?  Thanks!

[2018-11-01 22:44] cheesykyle opened #39 "Event Not For Correct Group (group: 0)"
The issue is related to controlling a scene from a Keypad. Everything works as expected when controlling the scene from within the Home or Insteon App. When enabling or disabling the scene(Keypad button), the groupMembers update with the correct status. When pressing the button directly on the Keypad, however, the Scene(Keypad button) DOES update in the Home app, but the groupMembers DO NOT update

[2018-11-06 14:45] sphawk88 commented on #34
hmm, has anyone tried using the z-wave smoke detector as a sensor type device? it is about time i got new smoke detectors, and the majority of 'smart' detectors are either way overpriced, have terrible reliability, or a combination of the two. the best option for remote alerts appears to be the z-wave first alert or oneline alarms, as they are usually ~$30 on sale. thoughts? :)

[2018-11-07 19:37] shereefalkady commented on #36
@kuestess — sorry I lost the page but you wanted someone to test a 4 button remote for you ? Tell me what to do :-)

[2018-11-07 19:39] shereefalkady commented on #33
@kuestess @rasod My HomeKit scenes still never complete - always fail updating ... she always performs them great ... but the status doesn’t properly update — am I on a wrong version ?

[2018-11-12 16:47] shereefalkady opened #40 "Not about Insteon local..."
@kuestess I have this device nexxgarage - very simple one button open/close garage opener ...
I need a homebridge for it — willing to pay for development - let me know if there is anything you can do

[2018-11-12 17:39] kuestess commented on #38
@rcombs Just released 0.3.12 which allows you to invert the sensor in your config - details in the readme.  Let me know if you have any issues.

[2018-11-12 17:41] kuestess commented on #36
@jeffwhalen Released 0.3.12 which has support for keypads.  Config is very similar to scenes, but with the devicetype of 'keypad'.  Once you have it set up, you should be able to use it as a trigger for homekit automation to turn on LIFX bulbs.

[2018-11-12 17:55] kuestess commented on #39
@cheesykyle The group number depends upon where the scene is being triggered from.  The group number in a scene configuration is the hub group number, which is what the eventListener is intended to catch.  If you trigger a scene from the keypad, it will have a different group number based upon the key pressed, which is why you get the 'not for correct group' message.  Filtering for the group makes

[2018-11-12 21:04] kuestess commented on #40
@shereefalkady Let me see what I can find out about it.  If it has any other sort of integration it should be reasonably straightforward to build a plugin for.  You should have an IOLinc!

[2018-11-12 21:54] jeffwhalen commented on #36
This is awesome! Thank you so much. I’ll try it tonight.

Sent from my iPad

[2018-11-12 22:59] rcombs commented on #36
Using 0.3.12, I'm currently able to toggle the LED status of a keypad button via homekit, but pressing the button isn't triggering automations or showing up in the home app.

[2018-11-12 23:00] rcombs commented on #38
Working great, thanks!

[2018-11-13 03:07] kuestess commented on #36
@rcombs 0.3.12-1 is up - should fix the manual button triggering automation and correct status.  May be a bit of a delay (seconds) in status change in home app, but it should work.  I need to refactor the scene portion of the eventListener to fix the delays.

[2018-11-13 04:36] shereefalkady commented on #40
The io links don’t work in my country - they work on only 60hz

Sent from my iPhone

[2018-11-14 06:41] rcombs commented on #38
Sorry, I said this was fine, but actually _controlling_ the garage door still needs to be inverted (right now only status is, so I have to double-press to control).

[2018-11-14 18:47] moahman opened #41 "IOLink Not updating in homekit"
Hello, I have two IOLinks in my garage, one named Big Garage and the other Small Garage. Big Garage operates just fine but small garage always says either Open or Closed never the right one. When it says its open and I open the garage it says open but when I close it, it still says open. If I open my Insteon app it shows the correct message either open or closed. Also this affects both garages (wh

[2018-11-17 17:17] kuestess commented on #38
@rcombs Does this happen only after manually controlling the door or even if it is only controlled from the Home app?

[2018-11-20 04:35] rcombs opened #42 "Add identify functionality"
`home-controller` recently added a `beep` method (https://github.com/automategreen/home-controller/commit/8879b1e430c2946d2249e5d90c1a70fbe7018646), which could be used to provide the `identify` feature in HomeKit.

[2018-11-20 15:54] kuestess commented on #42
Done. 0.3.13 adds support for identify (implemented on my own as `home-controller` isn't yet published to npm).

[2018-11-20 15:55] kuestess commented on #38
@rcombs See if 0.3.13 fixes this for you.

[2018-11-20 21:08] kuestess commented on #41
@moahman Can you post the config for your garage doors and the output from homebridge in debug mode (`homebridge -D`) when you have the issue?

[2018-11-26 14:21] gitraar opened #43 "Event Listener is not updating for blinds"
The Event Listener was not updating for my Insteon blinds (which I had set as blinds in the config in order for them to appear with the suitable icon and names in Home app) until I changed the eventListener function `InsteonLocalPlatform.prototype.eventListener = function ()`.

Where it had:
[code]

I inserted a case for blinds, resulting in:
[code]

This makes the updates appear in the log file.

[2018-11-26 17:29] gitraar commented on #43
Got it to work (at least as far as I can tell), by adding the following code in the eventListener function:

[code]

[2018-11-29 00:52] slack8182 opened #44 "Continuous errors after trying multiple fixes"
Hey Kuestess,

After browsing through all the open and closed issues I’m still unable to get my hub to connect. I uninstalled and reinstalled. I’ve done a network reset on my hub. I’ve tried changing my port number, all to no avail. Here are my settings and my log. Any help from anybody would be greatly appreciated.

platform": "InsteonLocal",
		    "name": "Insteon Local Platform",
				  "user":

[2018-11-29 01:33] kuestess commented on #44
@slack8182 Is the user/pass the one from the underside of the hub (or from Settings->House in the Insteon app if you've changed it)?  You should use this user/pass and NOT the one that you use to login to the Insteon app.  From your log, its clear that the errors are because it is not connecting to the hub.

[2018-11-29 05:05] slack8182 commented on #44
My user/pass is the one I created myself in the Insteon app under "Settings"-"House"-"username" and "password". Should I use the user/pass that's under my hub?

[2018-11-29 13:40] kuestess commented on #44
Yes, that's the correct password to use (from the app if you've set it).  Try running the node script below, substituting in the appropriate values for your hub in config.  Put the ID for one of your devices in insteonID.  When you run the script, you should get the connected to hub message in the console and the device specified should beep.  Just a simple test to see if you can connect to the hu

[2018-11-29 20:18] slack8182 commented on #44
Here's what I'm getting

module.js:545    throw err;
    ^

Error: Cannot find module 'home-controller'
    at Function.Module._resolveFilename (module.js:543:15)
    at Function.Module._load (module.js:470:25)
    at Module.require (module.js:593:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/home/pi/test.js:1:77)
    at Module._compile (module.js:649:30)
    at Object.

[2018-11-29 21:15] kuestess commented on #44
@slack8182 You need to install home-controller.  Type `npm -g install home-controller` and then give it a try.

[2018-11-29 23:42] kuestess commented on #43
@gitraar Sorry about that - an oversight when I added blinds to the plugin.  Just published a new version that adds it.  Implemented a little differently than above - the getPosition() function will take care of the lines above.

[2018-12-01 04:21] slack8182 commented on #44
I did and same exact error. Don’t know if this makes a difference but recently my old hub blew up. So I bought a new one and contacted Insteon support and I authorized them to delete my account so I could add my accessories. I had to create a new account and re register all my devices. Everything works just fine on my Insteon app though

[2018-12-01 04:42] moahman commented on #41
Here is the config and in debug mode there is nothing that is off. I do see that it says Small Garage sensor is on. When i close the garage it does nothing, still says its open.
`{
	"bridge": {
		"name": "Homebridge",
		"username": "CC:22:3D:E3:CE:22",
		"pin": "123-45-678"
	},

	"platforms": [
				{
				  "platform": "InsteonLocal",
				  "name": "Insteon Local Platform",
				  "user": "",

[2018-12-01 04:52] moahman commented on #41
When I click to close the garage when its already closed it says Small Garage is already at commanded state

[2018-12-01 17:30] kuestess commented on #44
@slack8182 New hub shouldn't matter, as long as it is working with the Insteon app (sounds like it is).  Since you're still getting the error after installing home-controller, it seems like a path problem.  Not sure which OS you're running, but try adding the node directory to your path.

[2018-12-03 06:11] shereefalkady commented on #40
@kuestess any updates ... the Nexx garage already works with Alexa google and ifttt

[2018-12-03 17:08] kuestess commented on #40
@shereefalkady Sorry for not getting back to you.  I did look into it and unfortunately I couldn't find much in the way of making this work with homebridge......yet.  Their Alexa / Google home implementations are closed, so I can't learn much from them.  It looks like they do intend to support Smartthings (maybe) this year which will be very helpful for integrating with homebridge.  An alternate r

[2018-12-03 17:23] kuestess commented on #41
@moahman Thanks - can you also provide the console output from debug mode? `homebridge -D`  It will be helpful in troubleshooting.  I assume that in your config you have all six characters for the device ID and only deleted the last two above for security.

[2018-12-03 17:55] shereefalkady commented on #40
@kuestess sadly just the app interface - they look like they are working on a homekit model - but i have been waiting forever... any way i can get homebridge and ifttt linked through any switch?

[2018-12-04 17:51] #43 closed

[2018-12-04 18:01] kuestess commented on #40
@shereefalkady You could try [homebridge-ifttt](https://github.com/ilcato/homebridge-ifttt).  Looks like you add the maker channel in IFTTT and then  you could connect it to the Nexx Garage open/close actions.  Not sure what the response time will be though.  If you're familiar with Wireshark, you might be able to sniff out the calls that the app makes to their web service.

[2018-12-06 04:35] dangerusty opened #45 "Insteon hub pro - error setting baud rate"
[code]

[2018-12-06 04:37] dangerusty commented on #45
First time setup on the hub pro. Followed instructions and get this every time. Insteon devices don’t respond.

[2018-12-06 15:22] dangerusty commented on #45
Doesn't look like my serial port 4 is accessible:

`debian@beaglebone:/boot$ sudo cat /proc/tty/driver/serial
serinfo:1.0 driver revision:
0: uart:8250 mmio:0x44E09000 irq:30 tx:221 rx:0 RTS|CTS|DTR|DSR
1: uart:unknown port:00000000 irq:0
2: uart:unknown port:00000000 irq:0
3: uart:unknown port:00000000 irq:0
4: uart:unknown port:00000000 irq:0
5: uart:unknown port:00000000 irq:0
debian@beaglebone

[2018-12-06 16:43] rasod commented on #45
Usually if the serial port 4 is not accessible that means the changes to the /boot/uEnv.txt file weren't picked up. You should see the following in /dev

![screen shot 2018-12-06 at 11 38 30 am](https://user-images.githubusercontent.com/7154349/49598120-fbf80900-f94b-11e8-8f30-24908881db62.png)

Are you booting with the S2 button held down or flashing the SD card to the board?

[2018-12-06 16:51] dangerusty commented on #45
My mistake, I did make the changes in uEnv.txt but didn't boot with holding S2 after the first boot. Serial ports now look good, but homebridge is stopping shortly after starting with this error:

[code]

[2018-12-06 17:02] rasod commented on #45
If you are using a different user to run homebridge you need add them to the dialout group so they can access the port.

For user “homebridge”:
sudo usermod -a -G dialout homebridge

[2018-12-06 17:04] dangerusty commented on #45
I've already done that as part of my serial port troubleshooting:

[code]

[2018-12-06 19:55] dangerusty commented on #45
I wasn't getting enough debug info from the journalctl output, ran homebridge from command line and got more hints:

[code]

I tried launching with use_express: false and its up and running!

[2018-12-06 19:55] #45 closed

[2018-12-11 16:26] networkjitter opened #46 "invert_sensor doesn't seem to have any effect"
I believe my Iolinc setup is fairly standard and works as expected in the Insteon app, however the status displayed in the Home app is backwards. (i.e. shows open when the garage is closed). My sensor is closed when the door is fully closed and open when open. This corresponds to the status of the Iolinc to be "on" when open (red status in the Insteon app) and "off" when closed (gray).

Whether I

[2018-12-11 17:30] kuestess commented on #46
@networkjitter Try removing the quotes around `true` for the `invert_sensor` key so it is interpreted as boolean.

[2018-12-11 17:51] networkjitter commented on #46
I had tried that previously and just did again with no change in behavior.  Functionality works just fine, just the reported state is opposite of actual state.  Here is the log from an open and closing of the garage door (close then open initiated from the home app).

[12/11/2018, 5:40:13 PM] [Insteon Local Platform] Setting Garage Door relay to 1
[12/11/2018, 5:40:14 PM] [Insteon Local Platform]

[2018-12-11 18:35] kuestess commented on #46
@networkjitter Can you run the above in debug mode (`homebridge -D`) and paste the output?  Thanks!

[2018-12-11 23:20] kuestess commented on #46
@networkjitter I was returning the wrong status variable (it wasn't being inverted) in the callback.  just published a fix - try that and see if it works.

[2018-12-12 16:37] camrun91 commented on #44
I had to use the username and password on the bottom of the hub ignorer for this to work. I am not having any issues after updating that and the model of the hub in the config.

[2018-12-12 19:03] networkjitter commented on #46
After updating the plug-in, the behavior was the same with `"invert_sensor": true` however if I remove that parameter altogether, Homekit now reports the correct status. Is this the expected behavior?

open garage door
[code]
close garage door
[code]

[2018-12-15 16:16] kuestess commented on #46
@networkjitter Glad it works, but that isn't the expected behavior :-).  I just published a new version to nom with some additional debug messages - can you run the same sequence above in debug mode and paste the output?  Thanks!

[2018-12-18 13:07] moahman commented on #41
@kuestess is there anyway to upload it without all the device ID's showing in the log or am I just going to have to deal with it?

[2018-12-21 21:50] awaspaas commented on #36
Whenever I use a keypad button, a full refresh of the whole house (which takes several minutes and makes everything unresponsive) is started. Is this intended behavior? I have polling turned off.

[2018-12-22 16:30] kuestess commented on #41
@moahman No built-in method to do that, but you could do a text search and replace with an editor.  Have you updated lately to see if that fixes your issue?

[2018-12-22 16:32] kuestess commented on #36
@awaspaas It shouldn't do that and at least after a short review of the code, I'm not sure how that would happen.  Does it actually refresh every device?  My event listener code for switches/keypads is a little messy and creates a bunch of Insteon traffic, but it shouldn't poll every device.

[2018-12-23 22:41] drewgould opened #47 "Dimmer always 100% from Home.app Automation"
First, thanks for the work you've put into this great plugin. I previously had the HomeKit Insteon Hub and got sick of its unreliability and constantly showing No Response. I've got everything setup now with a 2245 hub.

When I manually turn on a dimmer type (Model # 2477D) switch to a set % in the Home app, it turns on to that %. I have an Automation set up in the Home app to turn my living room

[2018-12-24 21:13] kuestess commented on #36
@awaspaas Updated the event listener for scenes/keypad events which should help to minimize insteon traffic.  Just update from nom and let me know if that helps.

[2018-12-24 21:15] kuestess commented on #39
@cheesykyle Updated version on npm should now catch manual button presses ands scene commands while minimizing insteon traffic.  Try it out and let me know if that helps.

[2018-12-24 23:42] moahman commented on #41
@kuestess Just did the update and so far it has been working as expected. Thank you for that!

[2018-12-24 23:42] #41 closed

[2018-12-26 22:58] drewgould commented on #47
An update here as I had some time to dig into this further. When looking at the logs I noticed an on command was being sent after the dimmer level command:

I believe the issue is line 1912:
`self.service.getCharacteristic(Characteristic.On).on('set', self.setPowerState.bind(self)).`

It does not appear to be necessary to turn the dimmer on before setting the level. I commented this line out and m

[2018-12-26 23:13] kuestess commented on #47
@drewgould The Home app loves to send a 'on' command along with the level command which is why you get the 100% on followed by _theoretically_ the set level.  As you know, Insteon will handle the level command on its own and turn the device on if necessary, so the extra 'on' is redundant.  I filter those out in `setPowerState`, but the extra Insteon traffic may prevent the level command from being

[2018-12-26 23:20] rasod commented on #47
@drewgould I had the same problem a while back, and made a change similar to yours. Basically ignore on commands from HomeKit for dimmable lights, since the setBrightness command will do the same. However in my case if you ask Siri to turn a light on, only the on command is sent with no following setBrightness.

[2018-12-28 20:31] drewgould commented on #47
Yeah this issue is more complicated than I thought (what else is new). @rasod is correct that while it solves the the scene from dimming and then running up to 100%, it does break just tapping a switch to turn it on or off. You have to dim and slide to 100% or 0% to turn on or off.

@kuestess I do see Homekit sending both the on and brightness 'set' commands. It seems both commands fire off from t

[2018-12-28 22:11] kuestess commented on #47
@drewgould Working on exactly that and hope to have something here in the next few days.  I've also changed the 'on' set handler to call the brightness function which should make it easier to intercept and cancel the 100% brightness command assuming that it is quickly followed by a level command.

[2018-12-29 17:43] kuestess commented on #47
@drewgould @rasod Just published 0.3.15 to npm that filters out duplicate on commands and adds a debounce for dimming.  Eliminates insteon traffic and seems to be more responsive.  I played around with the debounce timer a little and it seems to work ok - let me know what you think.  Scene performance seems to be much improved.  cc: @shereefalkady

[2018-12-29 17:50] kuestess commented on #23
Closing due to inactivity

[2018-12-29 17:50] #23 closed

[2018-12-29 17:51] kuestess commented on #28
Resolved - closing due to inactivity

[2018-12-29 17:51] #28 closed

[2018-12-29 17:51] kuestess commented on #21
Resolved - closing due to inactivity

[2018-12-29 17:51] #21 closed

[2018-12-29 17:52] kuestess commented on #25
Resolved - closing due to inactivity

[2018-12-29 17:52] #25 closed

[2018-12-29 17:53] kuestess commented on #42
Resolved - closing due to inactivity

[2018-12-29 17:53] #42 closed

[2018-12-29 18:12] drewgould commented on #47
Quick 5 minute reaction is very positive! Automation scene dims properly and my scenes definitely seem to run a bit quicker turning 23 accessories on and off. Will monitor it for a couple of real world on/off cycles but looks good so far

[2018-12-29 20:33] shereefalkady commented on #47
@kuestess sounds amazing will try it — how or where can I post a video or image for you to see — currently working on 160 switch house

[2018-12-29 22:01] kuestess commented on #47
@shereefalkady That's a lot of switches!  You should be able to attach a pic/video directly to your comment here.

[2018-12-30 16:50] kuestess commented on #47
@shereefalkady That's a serious setup!  You're probably best off with an Insteon group for large sets of devices as its much more efficient, but you might test the latest plugin update too and see how it performs.

[2018-12-30 17:04] shereefalkady commented on #47
@kuestess sure Insteon scenes for massive groups ... but something like “living room to 33%” living room being 9 switches ...

[2019-01-03 18:57] networkjitter commented on #46
Apologies for the delay.  After updating, still working as desired with "invert_sensor:false". Log output below.

open garage door
[code]
close garage door
[code]
Cheers

[2019-01-06 16:17] RoccoDiabolo commented on #47
Hi everyone, I'm a total newbie to Homebridge. A friend got me a Raspi for my birthday and helped me set up Homebridge on it and this Insteon plug-in. Everything seemed fine but now I am experiencing a weird problem similar to what was described in this thread. When using the HomeKit app on my iPhone to control a dimmer switch, everything works fine. I can click on it and the light turns on 100%.

[2019-01-08 20:29] ericboles opened #48 "Insteon Smoke Bridge Support?"
This plugin works great--much thanks to @kuestess for all the hard work.  Running on a Pi3, this makes Insteon more reliable than most of my native HomeKit devices...

Looking through the config options and code, it doesn't seem like the plugin currently supports the Insteon Smoke Bridge.  Wondering if anyone else has gotten it to work or if I could help in testing to add support.

Thanks.

[2019-01-12 00:45] ckellar33 opened #49 "Siri sends ON command with 0% as value when using voice commands"
When using Siri to turn on an Insteon dimmer switch the command shows up in Homekit as ON with 0%. If I specifically ask Siri to turn ON to 100% then all works as intended. Is there a possible fix for this? Thanks for all you do.

[2019-01-13 18:19] kuestess commented on #47
@RoccoDiabolo So fun times, the Home app loves to send an on AND dim command when you turn on a device, while Siri only sends the on OR dim (which is correct).  Previously, I was just discarding the on as Insteon will handle the dim just fine.  I've reworked the `setBrightness` command to process the 'on' if its the only command sent or filter it out if it gets a dim command within 300ms.  Just pu

[2019-01-13 18:21] kuestess commented on #49
@ckellar33 See [#47](https://github.com/kuestess/homebridge-platform-insteonlocal/issues/47)

[2019-01-13 20:58] RoccoDiabolo commented on #47
@kuestess  - This worked! Thank you so much for the fix! This plug-in is awesome!

[2019-01-15 17:02] kuestess commented on #47
@drewgould Still working for you with the latest update?

[2019-01-15 17:03] kuestess commented on #48
@ericboles Looks like homekit offers a smoke and CO detector which the smoke bridge seems to support.  Should be somewhat straightforward to add.  May take a bit for me to get to it, but I'll see if I can add with the next release.  I don't have one, so would appreciate any testing you can do!

[2019-01-15 17:06] kuestess commented on #46
@networkjitter Hmmmm....let me look into this a bit more and make sure that invert is doing what I expect.  Seemed to work for me with some degree of testing.  One thing for sure is that the current code generates alot of Insteon traffic - will fix that too :-).

[2019-01-16 21:34] ericboles commented on #48
Excellent!  I'll be happy to test--just let me know when you're ready to get started with it.

[2019-01-18 18:45] drewgould commented on #47
Been buried in dev work this week but will upgrade tonight and report back!

[2019-01-21 04:05] rcombs opened #50 "Half-broken support for lowercase IDs in config file"
Looks like the primary issue here is this needing a `.toUpperCase()`: https://github.com/kuestess/homebridge-platform-insteonlocal/blob/131495edead5d8953a934234cb8f7ada00f3e079/index.js#L284

[2019-01-21 15:19] camrun91 opened #51 "Home app not reflecting when switch is pressed."
I am seeing a slight bug possibly with the older hub. When i turn a switch on using the home app if it gets turned off buy hitting the switch then that is not reflected in the home app. I have see this is that I have an scene that turns on a switch for a fan I tuned it off manually the otherday and found that if I ran the scene again it would not turn back on because it was seen as already on in t

[2019-01-22 20:36] kuestess commented on #50
@rcombs Can you provide more background on the issue?

[2019-01-22 20:39] kuestess commented on #51
@camrun91 Event listener should catch those manual on/off events.  Can you post a log from that same sequence with homebridge in debug mode (`homebridge -D`)?

[2019-01-22 20:44] rcombs commented on #50
With the current code, if you have a lowercase ID in your config file, incoming events from that device won't be handled (e.g. turning off a light manually won't show up in HomeKit).

[2019-01-22 21:09] kuestess commented on #50
@rcombs Thanks.  Easy fix - will take a look at it.

[2019-01-23 13:02] kuestess commented on #50
Done.  Published a fix to npm that should take care of this.

[2019-01-24 00:42] drewgould commented on #47
This is working well for me. I think we can consider this issue resolved!

[2019-01-24 00:43] #47 closed

[2019-01-25 22:14] camrun91 commented on #51
I will see if I can do this sometime this weekend.

On Tue, Jan 22, 2019 at 2:39 PM kuestess <notifications@github.com> wrote:

[2019-01-27 02:02] patchg opened #52 "Hub 2245 Error getting power state when second hub 2242 is configured"
I have two hubs in my setup, a 2245 and a 2242. (two buildings on the same wifi network but separate electrical services and 800' apart, house and a barn).
When both hubs are properly configured in the config.json the 2245 behaves like the 2242 and fails to get power state for configured devices.  If I remove the 2242 from the configuration the 2245 is able to get power state as normal.

[2019-01-27 05:21] shereefalkady commented on #39
@kuestess sorry if this is in the thread I’m on mobile .... the window coverings by the way work great on mobile... however they do not update status when changed from manual button - any advice

[2019-01-27 14:54] kuestess commented on #52
@patchg I wrote the plugin with only a single hub per config in mind so not sure how two in the same config would act (apparently not well :-)).  The 2242 and 2245 use different connections - 2245 connects to an http/plm bridge where the 2242 connects directly to the palm interface.  Suspect that this may be causing some of your issues.  A better solution might be to run multiple instances of home

[2019-01-27 14:55] #49 closed

[2019-01-27 14:56] kuestess commented on #30
Closing due to inactivity.  Feel free to open another issue if this is not fixed.

[2019-01-27 14:56] #30 closed

[2019-01-27 15:00] kuestess commented on #39
@shereefalkady Theoretically the event listener should catch all of the events for the window coverings (manual or through Home app) and update status.  Can you post a sequence of open/close from a manual button with homebridge in debug mode (`homebridge -D`)?

[2019-01-27 15:00] kuestess commented on #31
Closing due to inactivity.

[2019-01-27 15:00] #31 closed

[2019-01-27 15:36] patchg commented on #52
I figured I'm an outlier use case and didn't expect it to work as well as it does.  Actually pretty well with all things considered.   I'm thinking about picking up another 2245 since getting the status is nice in HomeKit.  It sounds like that might work better.  If not, I can fall back to two instances.

[2019-02-06 06:05] ericboles opened #53 "Adding Insteon Scene to HomeKit without Keypad?"
I might be missing some configuration details, but I’m trying to add an Insteon scene without a keypad...essentially having that scene show up within HomeKit as an on/off switch so it can be triggered within HomeKit manually or via automation. I’ve been able to set up scenes when tied to a keypadlinc, but the config seems to require a device id...which wouldn’t apply to a standalone scene not trig

[2019-02-06 17:08] kuestess commented on #53
@ericboles You can leave out the `deviceID` field and just populate the `groupID` to trigger a scene using the same underlying method that the express server uses.  let me know if you have problems with that.

[2019-02-06 17:49] ericboles commented on #53
Thanks, @kuestess.  Unfortunately, that doesn't seem to work ( running homebridge-platform-insteonlocal v0.3.15).  When I add the scene without a deviceID, I get an error with Homebridge and it fails to load.  Here's what is added to config.json (I've tried with groupID with and without quotes):

`   {
"name": "Downstairs All",
"groupID": "15",
"deviceType": "scene"
}`

And here is the error durin

[2019-02-06 18:19] kuestess commented on #53
@ericboles Sorry, looks like I introduced a bug with a recent change.  Should be a quick fix - will try to push this evening.

[2019-02-06 18:30] ericboles commented on #53
No worries at all. Thanks for the great work on this plugin...  It really is spectacular, as is your support of it.

[2019-02-07 01:39] kuestess commented on #53
@ericboles You're too kind :-)  Just pushed an update to npm that should fix this.  Looks like it was introduced a while back so I'm surprised it took this long to catch.

[2019-02-07 02:51] ericboles commented on #53
@kuestess Works like a charm!  Thanks for the quick fix.

[2019-02-08 18:43] #53 closed

[2019-02-08 20:47] #50 closed

[2019-02-14 18:58] #40 closed

[2019-02-14 19:02] shereefalkady opened #54 "spinning wheel"
@kuestess so i just started playing around with insteonlocal again....

 well done the scenes finally work and respond (only tested with limited devices)....
However (using shades) sometimes the home app will be stuck on "closing" with a spinning wheel - as soon as i close the app and reopen it - it has the correct status - but if i stay on screen - it stays on spinning wheel... any ideas?

also:

[2019-02-14 19:08] shereefalkady commented on #54
@kuestess and the response is now amazingly fast!!

[2019-02-14 19:27] shereefalkady commented on #54
![7ebd1a8f-94c8-4792-9541-c1d3b5e40f62](https://user-images.githubusercontent.com/33227062/52812077-b40e0480-30a7-11e9-80fa-ea5293b60c78.jpg)

[2019-02-14 19:31] shereefalkady commented on #54
![7ebd1a8f-94c8-4792-9541-c1d3b5e40f62 1](https://user-images.githubusercontent.com/33227062/52812342-4a422a80-30a8-11e9-95cc-5cf5e7c9650d.GIF)

[2019-02-15 07:11] bradgessler commented on #47
I still experience this issue as of rev 1fedbc1dffe6e9959248314fb3d43ce01fde36a9 with the Insteon 2413U PLM. Config looks like:

[code]

Moving the dimmer up & down is temperamental, likely because of the debouncing that needs to be done. Often the light ends up at 100% brightness after moving the dimmer up & down a bit.

Here's some noisy log file output:

[code]

Interesting thing is the `undefi

[2019-02-15 17:25] kuestess commented on #54
@shereefalkady Does it spin even when you trigger a single shade (vs a scene with multiple)?  Can you run homebridge in debug mode and paste what is in the console when it starts spinning?

Glad you like the scene updates ;-).  Insteon scenes will always be faster, but it does seem to work pretty well now.  I haven't made any changes to the function for shades, but could likely do the same thing t

[2019-02-17 01:31] ctgreybeard opened #55 "Error at startup on Insteon Hub Pro"
I have my Hub Pro reconfigured and running off the SD card OK. I am having problems, though, getting the UART enabled. I don't see the symlinks in /dev that were described in another issue and HomeBridge complains that it can't set the baud rate on the UART and, of course, none of my Insteon devices are showing correctly. They **do** appear in the Home app but are all `Off` when they are not reall

[2019-02-17 01:47] rasod commented on #55
I have noticed that if you don’t hold down S2 on boot it will still use the SD image but the serial port will only be enabled when using the S2 button.

Could be that enabling the port has changed since I originally wrote the instructions.

[2019-02-17 01:55] rasod commented on #55
This thread seems to indicated that enabling the UARTS has changed.
https://stackoverflow.com/a/43175619

[2019-02-17 02:34] ctgreybeard commented on #55
Looking on the eMMC which the HubPro runs under I don't see anything at all that enables the UARTS, either in uEnv.txt or capemgr. How are they accessing them then? Is it possible that they are already enabled (how can I test that?) and we just need to point the code to a different tty?

[2019-02-17 02:38] shereefalkady commented on #55
@rasod I just reinstalled and used the 2243 using the same instructions from last year everything still works like a charm ...

One thing I think noticed however ... your link.js only does 1 way links ? It doesn’t crosslink devices to report back?

[2019-02-17 02:43] ctgreybeard commented on #55
I don't understand the question about link.js.

I wonder what's different about my setup ...

I looked on the original code and found their slserver has this:

`startup.sh:     cmd="./slserver -config:../../config/$config_version/insteon.xml -settings:../../settings.xml -serial:/dev/ttyO4"`

And they have nothing in uEnv.txt to enable any UART.

[2019-02-17 02:50] ctgreybeard commented on #55
@shereefalkady What does your uEnv.txt look like? Enabling the UARTs seems to be the sticking point for my system. Also, what base did you use to build the SD card? I followed the instructions I think. Because the SD card boots I assume that I got it correct.

[2019-02-17 03:22] ctgreybeard commented on #55
Can you run dmesg and tell me what a "good" UART load looks like? I see this:

[code]

[2019-02-17 07:31] shereefalkady commented on #55
@ctgreybeard are you trying to autorun it  ?  might be permissions?

here is the uEnv:

login as: debian
debian@192.168.86.22's password:

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
permi

[2019-02-17 07:36] shereefalkady commented on #55
@ctgreybeard if you are getting this error: "Cannot open /dev/ttyS0: Permission denied"

let me know - i have a fix for that..

[2019-02-17 14:54] ctgreybeard commented on #55
Well, I have solved the UART problem. Thanks, all, for your help. It turns out that I had, in my ignorance, created a uEnv.txt in / on the SD card. This was taking control at boot time.

I didn't dig further but I believe that because it didn't have the line
[code]
in it then nothing would load. What I had done was to copy /bbb-uEnv.txt as /uEnv.txt and updated it but that file isn't very useful e

[2019-02-17 14:54] #55 closed

[2019-02-17 21:05] ctgreybeard opened #56 "Seeing messages such as "[2/17/2019, 8:35:53 PM] [InsteonLocal] Setting level of LR Lamp to undefined%""
Since I now have Homebridge working I have gone farther and set up most of my devices. I can control on and off but am having trouble with brightness. I get the above message all or nearly all of the time that I try to adjust brightness.

The config for this particular one is:
[code]

but others are doing the same.

[2019-02-17 21:57] ctgreybeard commented on #56
Digging ...

in `InsteonLocalAccessory.prototype.setBrightnessLevel = function(level, callback)`
In:
[code]

`theLevel` is never set to a value if the requested level is neither `true` nor `false`.

[2019-02-17 22:01] kuestess commented on #48
@ericboles Just published a version to npm with initial support for the smoke bridge.  Just specify your device type as 'smoke' and it should create a smoke sensor and CO sensor.  Let me know if you have any issues.

[2019-02-17 22:13] kuestess commented on #56
@ctgreybeard Good catch!  Just pushed a fix to github/npm.

[2019-02-17 22:19] ctgreybeard commented on #56
As I am new to npm, what's the correct way to pick up the change? I installed originally using npm although I may switch to a github clone later.

[2019-02-17 22:36] kuestess commented on #56
`npm -g install homebridge-platform-insteonlocal`  Makes it really easy.

[2019-02-17 22:41] kuestess commented on #47
@bradgessler I just pushed a fix that I think will address this issue - give it a try and see if that takes care of it.

[2019-02-17 23:55] ctgreybeard commented on #56
I did an `sudo npm -g update` It took a while but the update was picked up. It's all working for me now.

[2019-02-17 23:55] #56 closed

[2019-02-18 13:59] ctgreybeard opened #57 "Some devices stop polling"
I have my Hub Pro mostly working now but I've noticed that some devices poll once at startup and then never again. Because I am still using my Indigo system for most of the automation that means they get out of sync.

Let me give an example:

config.json:
[code]
Startup log
[code]

and
[code]

And that's the last that it appears.

I can control it using Home.app and, naturally, it follows correctl

[2019-02-18 14:32] rasod commented on #57
The event listener should pick up any on device changes. However in my experience if you have two hubs, in your case the Hub Pro and the Indigo PLM, the Hub running homebridge will not “see” the events sent by the other PLM. It’s only listening for events emitted from a device directly.

Have to experiment to see if it can be updated to also catch the other events.

You can enable polling by using

[2019-02-18 14:32] kuestess commented on #57
@ctgreybeard That is by design.  On initial startup, the plugin will poll for status (your second clip above).  Following that, there are two mechanisms to keep things in sync, polling or the event listener (you can use one or both).  Polling is disabled by default, but you can enable it for all devices in your config by setting the `refresh` parameter (at the platform level) to the number of seco

[2019-02-18 15:29] ctgreybeard commented on #57
I have global refresh set at 300 and it is polling most of my devices. The event listener doesn't seem to be seeing anything as the devices appear to only update when they are polled.

From what I can tell it looks like all the `switch` devices are failing.

Do I need to link the 2413U that Indigo is controlling with the 2243? Will that help the event listener?

[2019-02-18 17:01] kuestess commented on #57
@ctgreybeard Are you seeing any events in the log for the switches that aren't reporting?

[2019-02-18 17:12] ctgreybeard commented on #57
Here's a debug log that shows that the switch devices never start polling. They get initial status and that's it, the other devices poll as expected. I've looked at the code and haven't found any smoking gun yet. I'm still looking ...
[homebridge.log.zip](https://github.com/kuestess/homebridge-platform-insteonlocal/files/2876758/homebridge.log.zip)

[2019-02-18 17:16] ctgreybeard commented on #57
And I am seeing no events at all when I control a device from Indigo, either a lamp or a switch. I did link and backlink the two controllers using the set buttons. They are next to each other so it was easy and, as far as I can tell, it worked OK.

[2019-02-18 17:28] kuestess commented on #57
@ctgreybeard Thanks for posting the log - from your earlier post it looks like 0BF4F4 is a switch.  I see that it was initialized as an accessory, but no other events (not even the initial polling).  Are you sure that the switches are linked to the Hub - devices will only reply if they are linked.  You may have better luck trying to run the plugin on the same machine as Indigo and connecting it to

[2019-02-18 17:41] ctgreybeard commented on #57
I am pretty sure they are all linked. I can control them with homebridge. I did have one device that I had not linked and I could not control it but after I linked it worked fine. And I know that at least one of these, there are several, are linked but none works. It seems to me that the polling is never started for these but I can't see why that might be yet.

Hmmm, in `InsteonLocalAccessory.prot

[2019-02-18 19:11] ctgreybeard commented on #57
Confirmed ... that does not do what you think it does ...

[code]
fails on the third test.

A related question. I would like to use my fork of this project for testing. I have it cloned into ~/.homebridge. I tried starting homebridge with -P ~/.homebridge/homebridge-platform-insteonlocal but it did not find 'request'. I see there is no node-modules under the git clone. What is the "proper" way to

[2019-02-18 19:17] ctgreybeard commented on #57
Answered my own question or at least got it going. I used a symlink as that seemed the easiest but if that's not the best solution let me know.

I used `DEBUG=*` as a command prefix and am getting a LOT more debug. I will digest it and see what I can find. I'm looking into why I don't see any events.

[2019-02-18 21:57] ctgreybeard commented on #57
This is one idea that works in this situation:

[code]
I made a separate array but you could just do it inline I believe.
[code]
or something like that.

[2019-02-18 22:00] kuestess commented on #57
@ctgreybeard Just pushed that fix using Array.includes a few minutes ago.

[2019-02-18 22:04] ctgreybeard commented on #57
Cool

[2019-02-18 22:47] ctgreybeard commented on #57
Much better!!

[2019-02-20 00:03] ericboles commented on #48
@kuestess Alas...I had ordered a smoke bridge, but then ran into issues with it being poorly supported by First Alert--very difficult to tell which smoke alarms are now compatible.  Seems like something they were actively supporting years ago, but have since focused on native HomeKit smoke alarms (and even repurposed their "Onelink" brand name from the Insteon-compatible versions to their current

[2019-02-20 03:11] shereefalkady commented on #57
@kuestess this fix you pushed -- is it necessary ? do i need to go and update my clients devices?

also:
 "controllers" : [ "13ADEA" ],      <-----  nice, when did you add "controllers"

[2019-02-20 03:52] kuestess commented on #57
@shereefalkady The latest update is just a fix for polling, which is off by default, so not likely urgent.  Controllers has been around for a while - you can thank @rasod for that.

[2019-02-20 04:18] shereefalkady commented on #57
@rasod definitely thanks....

@rasod about the link.js - does it crosslink?

[2019-02-20 04:18] shereefalkady commented on #57
@kuestess yes i dont use polling - slows down the system -- the event listener does great

[2019-02-20 04:35] ctgreybeard commented on #57
The event listener is not working for me. I haven't had time to narrow it down but I am seeing nearly no events at all. I am working on a script which will cross link everything in the devices array. That may help. I did spend a couple of days running around pressing buttons and I thought I got everything but doing it programmatically should cover it all. One issue might be that most of the contro

[2019-02-20 05:43] shereefalkady opened #58 "out of reach devices crash the system"
@kuestess i realized that if i give a command to an insteon switch that is out of reach (that has lost electricity for example) -- the entire system will crash and take many minutes before it comes back online...

[2019-02-20 13:30] ctgreybeard commented on #57
@kuestess I would like to point out that you say that polling is disabled by default but the example config includes `"refresh":"300"` which suggests that new users such as myself will have it enabled by default.

[2019-02-20 14:28] shereefalkady commented on #57
@kuestess @ctgreybeard ah yes - I have polling on - and I get problems when a devices state is unknown ... thanks ... to turn off polling I set it to “0”?

[2019-02-20 15:32] rasod commented on #57
@shereefalkady the script I wrote, doesn't crosslink (AFAIK - it's just based on an example from the home-controller repo) but I have never had events not work for me. Other then when a device is controlled by another device, which is why I added the controllers feature. I tried cross linking when I was having that problem and it didn't seem to make a difference.

@ctgreybeard are you saying that

[2019-02-20 18:02] ctgreybeard opened #59 "Express server is always started"
Setting `"use_express" : "false"` in config.json fails to prevent the Express server from starting.

The internal value is set using the statement:
[code]
But the value of `config['use_express']` is `"false"` which evaluates in javascript to `true`
Therefore the statements:
[code]
treat it as if use_express was `true` even if `"false"` was specified.

The above expression could be:
[code]

[2019-02-20 21:48] ctgreybeard commented on #59
My suggestion isn't a really good solution as I did discover you can use `"use_express" : false` in config.json which DOES prevent Express from starting but that would break using my suggestion ... ain't programming fun!?

[2019-02-20 23:11] ctgreybeard commented on #57
@rasod I am writing a more robust query/linking script to make sure everything is linked. I'm also using it to learn a lot more about nodejs, home-controller, and Insteon. I am having fun!

As far as Events, I'm not sure exactly what is going on. What I see right now is that the older Insteon modules don't trigger Events. I have a couple of newer ones that do. So far that's the only difference I c

[2019-02-21 03:53] kuestess commented on #58
@shereefalkady Can you post a log of the crash?

[2019-02-21 17:01] kuestess commented on #57
@rasod That is quite a nerdy setup - I'm jealous! :-)
@ctgreybeard Insteon devices will only respond to other devices/hubs that they receive messages from, so I don't think you'll get messages on the Hub for commands sent by the PLM, even if they are linked.  Polling is probably your best bet for now.

Have some stuff in the works that should make linking and creating scenes easier....if you like

[2019-02-23 22:21] ctgreybeard commented on #57
@kuestess Easier linking would be good! My "superlinker" is stuck right now because I can't get link() to work when linking two devices. And I can get it to complete using one device but it doesn't seem to really link anything.

[2019-02-24 19:54] bradgessler commented on #47
This helped when controlling one device. So much better! Thank you.

When I try to get it working with multiple lights (two in this case to keep things simple) for a scene, either one of the lights either doesn’t turn on or it turns on 100%. Is the debouncing maybe scoped globally and not per device or Homekit request?

[2019-02-26 21:30] shereefalkady commented on #57
@kuestess @rasod question about the controllers.... if the controller is a keypad button - how do i write that?

[2019-02-28 04:03] bljarisch opened #61 "Garage door notifications"
Hello,

Apple home keeps notifying that my garage doors are open and then closed, multiple times per day, when they are always closed.  Not sure what I am doing wrong here.  It seemed to work OK before the last update.  I think maybe has something to do with the connection watcher and my using the 2242?   Below is my config file.  Thanks!

{
            "platform": "InsteonLocal",
            "nam

[2019-02-28 16:46] kuestess commented on #61
@bljarisch Can you run homebridge in debug mode (`homebridge -D`) and post a log when you get a notification?  Does it seem to happen at a specific interval?

[2019-02-28 17:04] bljarisch commented on #61
Not really sure how to do that as I am running HomeBridge in docker on a synology NAS.  I’ll see what I can figure out this evening.  I do have an update though, I changed refresh to 0 and I am not getting the message any more after about 12 hours of testing.   Although now when I do open it close the garage it takes 5 minutes or so to update in the home app.  Does keepalive need to be 0 for the 2

[2019-03-03 17:54] kuestess commented on #61
@bljarisch Just pushed a fix that should address this.  Update from npm and let me know if that takes care of it!

[2019-03-03 17:55] kuestess commented on #46
@networkjitter Just pushed a fix that should address this.  Had an `if` that wasn't always evaluating as expected (was really strange).  Should be fixed now.

[2019-03-04 04:20] bljarisch commented on #61
Now home is alerting me that the garage door has opened, when it has closed. No notification for when it actually opens.  Will mess around with different refresh and keepalive settings to see what happens.

[2019-03-04 16:54] kuestess commented on #61
@bljarisch How do you have your IOLinc set up?  The default config for the plugin is that the sensor is on when closed and off when opened.  It sounds like yours might be set up the opposite way (off when closed) - if so, you can specify `invert_sensor` and set to `true` in your config so that the state is reflected correctly.

[2019-03-04 17:12] bljarisch commented on #61
Ok mine is set to off when closed.  I will try the invert sensor later today.  However, it did seem to work correctly a few updates ago.

[2019-03-04 17:25] kuestess commented on #61
@bljarisch Unfortunately `invert_sensor` wasn't working correctly a few updates ago :-)

[2019-03-04 19:58] bljarisch commented on #61
Now both doors show as open, regardless of status.  When the door is actually open, and I toggle it from the home app, it says “closing” (and actually closes) but home app never changes to close.  I restarted homebridge and it goes back to open.

Sent from my iPhone

[2019-03-04 23:06] bljarisch commented on #61
Ok, here is my garage set up.  I have an 8 button keypad, the bottom 2 buttons are each assigned to a door.  When the garage is open the button is lit up, when the garage is closed the button is off.  I created a scene to do this. I tried the invert_sensor, now notifications are working but they are inverted.  I verified that I am setup as closed sends off, open sends on.  ALSO, now my keypad on g

[2019-03-05 01:21] kuestess commented on #61
@bljarisch The plugin does have the ability to set the state of a keypad button, but only if you define a `keypad` device type in your config.  I assume from your post above that this is an insteon scene created in the insteon app, in which case neither home or homebridge can set the button state.  When you get the random open status, does the insteon app show that same status?  Wondering if your

[2019-03-05 01:41] bljarisch commented on #61
Yes it is an Insteon scene, not made from home app.  I deleted and recreated the scene and the keypad is back to normal.  The home app is still not updating the status, though both say closed now instead of open.  I have refresh set to 300 and keepalive set to 3600.  Should I just set both to 0 since I am on the 2242?   That bit is a little confusing for me.  This weekend I will probably do a comp

[2019-03-05 02:30] kuestess commented on #61
@bljarisch Neither the 2242 or 2245 can handle long-duration connections - both seem to crap out after some time.  Seems to be worse for the 2242 than the 2245.  The connection watcher attempts to work around this - for the 2245, a simple disconnect/reconnect every hour takes care of it, but for the 2242, it watches the hub status and if there isn't an insteon command in progress it will close the

[2019-03-05 03:33] bljarisch commented on #61
Alright.  I set the refresh and keep alive to 60 and 0 respectively.  If I continue to have problems, I have a 2245 with a bad capacitor (second time I have had this happen so I gave up on the 2245 and went back to 2242).  I can solder and new one and try that.

[2019-03-05 05:03] bljarisch commented on #61
It seems that this keep popping up randomly:

[3/4/2019, 10:59:01 PM] [Insteon Local Platform] Received command for 420566
[3/4/2019, 10:59:01 PM] [Insteon Local Platform] Found 1 accessories matching 420566
[3/4/2019, 10:59:01 PM] [Insteon Local Platform] Hub command: {"standard":{"type":"50","id":"420566","gatewayId":"2cb147","extended":false,"messageType":1,"hopsLeft":0,"maxHops":3,"command1":"

[2019-03-05 18:33] kuestess commented on #61
@bljarisch That is the event listener parsing Insteon traffic.  Command 1 = 09 doesn't mean anything with regard to status, so the plugin doesn't do anything with it.  Interestingly enough, command 09 is enter linking mode (maybe linking to the keypad as described above?).  Does the setup with `keepAlive` set to 0 seem to work?

[2019-03-05 18:53] bljarisch commented on #61
No I am still getting open close events on my phone.  Seems pretty random on the timing and sometimes it is door 1 and sometimes 2

Sent from my iPhone

[2019-03-05 22:06] kuestess commented on #61
@bljarisch Are you still running in debug mode?  If so, somewhere around your GD1 event you should see a message about sensor is on/off.  There are listeners in the code (separate from eventListener) that detect/act on sensor change events and tend to be fairly quick and reliable.  The message about the group is for scenes, and not related to the garage door (perhaps the 'G' button of a keypad if

[2019-03-05 23:28] bljarisch commented on #61
Update, I went to iolink device settings in insteon app and changed Sensor sends On when closed.  I had it set the other way so it would light up the button on a keypad when open.  Now I guess it will just light up when it is closed, which will probably drive me crazy for a while but I can live with it.  This plugin is already much more than I could have ever dreamed of.  It seems the issue may be

[2019-03-06 14:47] kuestess commented on #61
@bljarisch I'll look through the code again on `invert_sensor`, however that doesn't explain your random open notifications.  I think that this is perhaps related to you IOLinc sending incorrect status when polling is enabled.  Maybe try removing from your hub, factory reset the IOLinc, and then re-add (fairly easy to set up if I remember).  Just a thought.

[2019-03-06 15:08] shereefalkady commented on #8
@kuestess help....

Mar 06 14:58:47 beaglebone homebridge[1429]: [3/6/2019, 2:58:47 PM] [Insteon Local Platform] Setting power state of Pool to off
Mar 06 14:58:49 beaglebone homebridge[1429]: [3/6/2019, 2:58:49 PM] [Insteon Local Platform] Event not for correct group (group: 41)
Mar 06 14:58:50 beaglebone homebridge[1429]: [3/6/2019, 2:58:50 PM] [Insteon Local Platform] Got updated status for Poo

[2019-03-06 15:10] bljarisch commented on #61
Yeah I am going to give that a try this weekend.  Thanks.

[2019-03-06 15:17] ctgreybeard opened #62 "lamp, switch, lightbulb, dimmer ? What are the differences?"
What do the different appliance types do? I think I see that they drive what the icons are but is there anything else? And, if I chose incorrectly how do I  icon to update in Home? If I change it in config.json that doesn't seem to update Home.

[2019-03-06 17:26] kuestess commented on #62
@ctgreybeard The main difference is that lightbulb/dimmer are dimmable devices, while the switch is on/off only.  From a practical standpoint, there's no difference in lightbulb and dimmer - they both implement the same Homekit device type and (as you note) have the same icon.  The icon should update if you switch it in your config (between switch and lightbulb/dimmer).  Alternately, you can go to

[2019-03-06 17:30] kuestess commented on #8
@shereefalkady The 'event not for correct group' is related to scenes and keypads.  The code parses the Insteon message and determines the group number so that only the devices that are part of the scene are updated (rather than updating all devices).  Can you post a crash log and I'll look into it.

[2019-03-06 19:58] ctgreybeard commented on #62
@kuestess Thanks for the reply. I'm trying to diagnose a problem I am having and I thought the device type might be it but I guess not. The problem I have is that I have at least one light (wall dimmer) that I can control using my own script calling home-controller but it will not control under homebridge. It DOES get correct status when polling though and changes state to agree with the actual st

[2019-03-06 20:19] ctgreybeard commented on #62
Well, removing that controller from the list didn't seem to do anything.

[2019-03-07 01:11] kuestess commented on #62
@ctgreybeard The controllers features is intended to be devices rather than a PLM/Hub so it likely wont work as you’re thinking.  What you describe sounds like an issue with Insteon traffic - response can be slow to non-existent when there is a lot of Insteon traffic.  If you run in debug mode (`homebridge -D`) you’ll see all of the traffic coming through, and not just the traffic that the plugin

[2019-03-07 01:44] ctgreybeard commented on #62
It is absolutely not traffic. I say this because I have only a few devices defined and I was testing in the afternoon when there was nothing going on. I will run in debug and see what I can tell from that. I find it interesting that the polling updates succeed every time but the control commands do not ever succeed. And yet there are some devices that do work fine.

[2019-03-07 02:02] kuestess commented on #61
@bljarisch just pushed a small change that may help with the reliability of invert_sensor. Give it a try and let me know if that helps.

[2019-03-07 15:47] ctgreybeard commented on #62
@kuestess The `-D` debug didn't really change much in the output so I used the DEBUG env variable. After letting the initial statuses update (it ends with `Entryway`) I tried controlling the `LR Lamp` which does control the light correctly. I then tried `DR Main` which, in the log, looks to be exactly the same but does nothing at all to the light itself.

[homebridge.20190307-151103.log.zip](https

[2019-03-07 18:14] kuestess commented on #62
@ctgreybeard Is this perhaps an older dimmer?  Agree looking through the log that it is doing the same thing with an apparently different result ;-).  Looks like `home-controller` converts the 'set to level 100' command from the plugin (I use this rather than 'on' for very convoluted reasons) to Insteon command 0x21, which is an addition to the original command set.  Maybe try sending a direct com

[2019-03-07 18:31] ctgreybeard commented on #62
@kuestess Yes, this one happens to be an older dimmer but others are newer that don't respond also. I'll try what you suggest in my script.

[2019-03-07 18:40] 64Spaces opened #63 "Hub Pro 2243 Question"
When power cycling the Hub 2243, does the S2 Boot button have to be held down each time? Or should the setup survive a power cycle?

[2019-03-07 20:26] ctgreybeard commented on #63
I'd like to hear other opinions on this too. In my experience using S2 once seems to allow not using it later. I can rebbot my 2243 remotely now without getting near S2 and it's working fine. I did, I believe, need to use it once to get the uEnv.txt to be effective. It would be nice to heard from a BeagleBone "expert" about this as all of the documentation I can find is very old.

[2019-03-07 20:32] kuestess commented on #63
@64Spaces I don't use my 2243 enough to know whether it makes a difference.  I believe the current thought is that you need to hold down S2 on each reboot or you get some wonkiness in the hub.  Paging @rasod who is the expert with the Hub Pro.

[2019-03-07 20:37] rasod commented on #63
For me I flashed the SD card to the eMMC which wipes the factory code completely. I have to check my notes to see how I did that. I think there was a line at the bottom of the uEnv.txt that you could uncomment to flash the SD to the eMMC.

[2019-03-07 20:38] 64Spaces commented on #63
Thank you. It seems that reboot maintains the network connection. But a power cycle causes it to loose its network connection and need the S2 reboot to recover.

[2019-03-07 20:43] 64Spaces commented on #63
Thank you. Once it's flashed to eMMC, can you still SSH into it and configure/update the config.json file? And can additional Homebridge plugins (like PM2 to auto-start Homebridge) be added?

[2019-03-08 00:45] rasod commented on #63
I think I followed these instructions https://stackoverflow.com/a/40180517 basically edit the uEnv.txt file reboot and wait fo it to flash the memory. After that  remove the SD card then you have flashed Hub Pro. Caution there is no going back!

Sorry it was a while ago when I did it all, took horrible notes. Since then all my homebridge plugins run off the flashed HubPro.

[2019-03-08 06:30] shereefalkady commented on #63
@ctgreybeard @kuestess @rasod
I only used the s2 once to initially boot ... then it works automatically every time therafeter ...

But @kuestess am I doing something wrong ? The 2243 is significantly slower than the 2245...
What is the setup supposed to look like ? For host user and pass?

[2019-03-08 13:21] 64Spaces commented on #63
Beautiful, I was able to flash the memory and it boots properly after a power cycle. Thank you. However, I quickly ran into "not enough space" when adding Homebridge and Insteonlocal. I'm not a power user. Is there a way to either free up flash memory or use an inserted microSD card for the space?

@shereefalkady, when you turn power off and then back on, does you network connection and setup appe

[2019-03-08 14:30] rasod commented on #63
@shereefalkady usually once you pull power the Hub will boot using the default uEnv settings. It will still boot off the SD and homebridge will be available however the serial port will be disabled and the plugin will not work. That is why you need to hold S2 on boot. However once booted you can use the reboot command and the settings will remain but if power is cycled they are reset. This is all

[2019-03-08 16:46] 64Spaces commented on #63
@rasod , Thank you. My original desire was to find out if homebridge and insteonlocal would automatically be available after a power failure. My thought is that if I am not home and the power to the house goes out for whatever reason, I would like the hub come back on and work without having to hold S2 to reboot. I will do some more experimenting.

[2019-03-08 17:33] ctgreybeard commented on #62
I have attached the logs and some scripts from my tests. I think the difference is that this script generates an code `11` for command1 as opposed to the `21` that yours generates. My script controls the lights fine for all of my devices that I have tested.

I would question your use of `21` as it is a newer addition (20060420) and appears to bypass any ramp-level settings in the device.

Here are

[2019-03-08 18:01] rasod commented on #63
@64Spaces once flashed it should reboot after a power failure and come back up and work - you will need something to startup homebridge like PM2 or systemd but that's it. That is how mine works. I have had it running for over a year like this.

One gotcha is to make sure whatever user is running homebridge has access to the serial port. For example if you create a "homebridge" user to give it acce

[2019-03-08 18:13] networkjitter commented on #61
This has been happening to me as well. I am getting repeated "garage closed" notifications, when in fact the garage door was closed the entire time.

I am currently running  v0.3.16-3, iolink is configured for "sensor sends off when closed", and invert_sensor = false.  I've never had any success enabling this setting. When I've enabled this setting in the past, the status in Homekit has always bee

[2019-03-08 18:20] kuestess commented on #61
@networkjitter Try the latest update and see if that fixes the issue for you.

[2019-03-08 18:22] 64Spaces commented on #63
@rasod , thank you. That sounds like what I am looking for. Are you loading homebridge and the plug-ins on the eMMC memory? How did you get it to fit? I get the "not enough space" error.

[2019-03-08 18:30] rasod commented on #63
I didn't have any problems like that, I used the IoT image.

[2019-03-08 18:33] kuestess commented on #62
@ctgreybeard The choice to use 0x21 was made by `home-controller`.  Not sure why they chose that - personally, I would have used 0x11.  Should be straightforward to implement using 0x11 instead.  Let me give it a shot.

[2019-03-08 18:57] ctgreybeard commented on #62
Are you using Light.turnOn or Light.turnOnFast? I am using Light.turnOn which generates the `11`. I haven't tried the turnOnFast.

[2019-03-08 21:47] ctgreybeard commented on #62
@kuestess I see what's happening now. The home-controller function `Light.level` uses the command1 `21` while `Light.turnOn` generates a command1 of `11` ... and I see that you use `Light.level` for the control.

Would it be possible to make using `Light.turnOn` a device option? With the corresponding `Light.turnOff` also? `Light.turnOn` will accept a level set and that does work with my devices.

[2019-03-08 23:36] kuestess commented on #62
@ctgreybeard Reworked to use 0x11 rather than 0x21.  Try the update and let me know how that works for you.

[2019-03-08 23:37] #38 closed

[2019-03-08 23:38] #39 closed

[2019-03-08 23:38] kuestess commented on #48
Looking for testers for smoke bridge functionality, closing for now.

[2019-03-08 23:38] #48 closed

[2019-03-08 23:41] kuestess commented on #44
Closing due to inactivity.

[2019-03-08 23:41] #44 closed

[2019-03-08 23:41] kuestess commented on #36
Closing due to inactivity.

[2019-03-08 23:41] #36 closed

[2019-03-08 23:42] kuestess commented on #33
Closing due to inactivity.

[2019-03-08 23:42] #33 closed

[2019-03-08 23:43] #52 closed

[2019-03-08 23:43] kuestess commented on #52
Closing due to inactivity

[2019-03-09 01:46] ctgreybeard commented on #62
@kuestess That works well! And because there aren't the timeouts from before it's pretty snappy!

[2019-03-09 15:25] 64Spaces commented on #63
Thank you @rasod.  I must be missing a step. I'm using Debian 9.4 IoT (with flasher enabled) to flash it and reboot with no SD card. I edit the flashed /boot/uEnv.txt file,  reboot, install homebridge. Homebridge will run. Then I add insteonlocal. Then when running homebridge command again, it says "not enough space" and will not run. Any suggestions? Thanks so much for your help.

df shows of eMM

[2019-03-09 15:56] rasod commented on #63
hmm, mine shows

[code]

What size SD card did you use? You might need to expand the filesystem. You can try:

[code]

I didn't have to do that so if it works please report back the new size.

[2019-03-09 17:24] 64Spaces commented on #63
Very strange. My board only show 2GB
Old situation:

``
Device         Boot Start     End Sectors  Size Id Type
/dev/mmcblk1p1 *     8192 3751935 3743744  1.8G 83 Linux

/dev/mmcblk1p1: Created a new partition 1 of type 'Linux' and of size 1.8 GiB.
Partition #1 contains a ext4 signature.
/dev/mmcblk1p2: Done.

New situation:

Device         Boot Start     End Sectors  Size Id Type
/dev/mmcblk1p1 *